<%= render 'menu' %>

<div class="onsen-visual7 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">野天湯元</span>
			<span class="line">湯快爽快&nbsp;ざま&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">野天湯元</span>
			<span class="line">湯快爽快&nbsp;ざま&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning7">
		<section id="bv">
			<div class="container7-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜野天湯元　湯快爽快　ざま〜♨️</h2>
							<p class="bv-introduce">
								『野天湯元　湯快爽快　ざま』は神奈川県座間市に初めて湧き出した温泉『座間温泉』のスーパー銭湯です。<br>
								駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮して願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">申し訳ありませんが、今しばらくお待ちください。</font>
							</p>
					</div>
			</div>
		</section>
	</div>




			<section class="access3">
				<div class="container3-1">
					<div class="introduce-set3-1 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set3-2 clearfix">
						<h3 class="address3">♨️〜住所〜♨️</h3>
						<p class="address-text3">
							住所:252-0012 神奈川県座間市広野台1-48-25<br>
							TEL: 046-254-1126
						</p>
					</div>

					<div class="introduce-set3-3 clearfix">
						<h3 class="price3">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>730円</th>
													<th>830円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>360円</th>
													<th>360円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price3">
										22時以降は深夜料金『平日』630円、『土日祝』730円になっています。<br>
										また『館内着＆レンタルフェイス・バスタオルセット』なども借りることができますので、気兼ねなくいけますね♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set3-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text3">
								シャトルバスは新型コロナウイルスの影響により、2020年8月31日をもちまして送迎バスは廃止となりました。<br>
								ご来店の際は、お車か電車と路線バスのどちらかになります。<br>
								お車での来店は施設ご利用中は無料で、収容台数100台以上もありますので安心です♪
							</p>

							<div class="kansou3">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set3-5 clearfix">
						<h2 class="map3">♨️〜地図〜♨️</h2>
						<div class="map-image3"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>