<%= render 'menu' %>

<div class="onsen-visual7 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">野天湯元</span>
			<span class="line">湯快爽快&nbsp;ざま&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">野天湯元</span>
			<span class="line">湯快爽快&nbsp;ざま&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning7">
		<section id="bv">
			<div class="container7-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜野天湯元　湯快爽快　ざま〜♨️</h2>
							<p class="bv-introduce">
								<font size="4">『野天湯元　湯快爽快　ざま』は神奈川県座間市に初めて湧き出した温泉『座間温泉』のスーパー銭湯です。</font><br>
								<font size="4">『野天湯元　湯快爽快　ざま』では地元で採れた野菜や豚肉といった地産地消の食材を使用しているのがポイントです♪</font><br>
								<font size="4">駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。</font>
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
															   						<br>
								<font size="5">1. 脱衣所でのスマホ等の撮影は禁止です！</font><br>
								<font size="5">2. 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。</font><br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
																				  <br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container7-2">

		<h2 class="introduce7">♨️〜野天湯元　湯快爽快　ざまの魅力〜♨️</h2>
		<div class="introduce-image7-1"></div>
			<p class="introduce-text7-1">
				<font size="3">『野天湯元　湯快爽快　ざま』の魅力を5つご紹介致します!<br>
																		<br>
				1.『イベントが盛り沢山！』：『湯快爽快　ざま』ではお客様を飽きさせないよう様々なイベントをご用意しています！<br>
				2.『コロナ対策が素晴らしい！』：『湯快爽快　ざま』では体温検知だけでなく、マスク無しのお客様には入場できないような徹底的な対策を施しています！<br>
				3.『源泉掛け流し天然温泉へのこだわり！』：『湯快爽快　ざま』では黒湯の源泉100%の天然温泉を使用しております！<br>
				4.『お風呂の男女差別がない！』：『湯快爽快　ざま』では男女でのお風呂の差別が無いよう、種類が同じになっております！<br>
				5.『貸し部屋がある！』：『湯快爽快　ざま』では決して大きくない施設ですが、貸し部屋をご提供できるようになっております！</font>
			</p>

		<h2 class="onsen-introduce7">♨️〜湯快爽快　ざまの紹介〜♨️</h2>
			<div class="introduce-image7-2"></div>
				<p class="introduce-text7-2">
					<font size="3">『湯快爽快　ざま』はお一人様または大人同士のお客様に向いたスーパー銭湯です！<br>
					 おひとりではまずゆっくりと温泉に浸かり、リラクゼーションを楽しみお腹が空いたらお食事するのはいかがでしょう♪<br>
					 大人同士で温泉を楽しんだ後は、貸し部屋を借りゆっくりと談笑しながらお酒を楽しむのも良いと思います♪<br>
					 お子様がいるご家族だとやはりお子様が飽きてしまうと思いますので、温泉を楽しんだ後は食事をするのが良いと思います♪<br>
					 漫画、雑誌等4000冊あるので飽きても大丈夫だと思いますが、やはり大人同士で楽しむのがおすすめです♪<br>
					そんな大人な魅力がある『野天湯元　湯快爽快　ざま』にご来館するのはいかがでしょう？</font>
				</p>

		<div class="soukai_eat">
				<h2 class="eat-introduce7">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image7-3"></div>
						<p class="introduce-text7-3">
						 	 <font size="3">湯快爽快　ざまのお食事処は本格料理を落ち着いた和の雰囲気の中でで食事することができます。<br>
						 	 また素材にもこだわっていて、蕎麦本来の旨みとのど越しを追求し、切り幅1.3mmにこだわった伝統文化が生んだ最高級の逸品『十勝蕎麦』を使用しています。<br>
						 	 豚肉も丹沢山脈を望む県央地区に飼育している神奈川県産の豚肉『相模豚』を使用しています。<br>
						 	 季節に応じて、野菜も料理職人が源泉した野菜を使用しています<br>
							 その他季節によってイベント・フェアもあるのでワクワクしながら食事することができますね♪<br>
							 『湯快爽快　ざま』をご来館の際は是非一度立ち寄ってみてはいかがでしょうか♪</font>
						</p>
		</div>

		<div class="soukai_spa">
				<h2 class="spa-introduce7">♨️〜温泉〜♨️</h2>
					<div class="introduce-image7-4"></div>
						<p class="introduce-text7-4">
						 	<font size="3"> 湯快爽快　ざまでは座間市内で初めて湧き出た大地の恵み「座間温泉」を楽しむことができます♪<br>
						 	 座間温泉の特徴的は『黒湯』で入り心地が良く、泉質は低張弱アルカリ性で別名『美肌の湯』とも言われています。<br>
						 	 湯快爽快ざま自慢の黒湯で、温泉の底が見えないくらい艶のある『源泉の湯』は平均温度は38.6℃とぬるめなため長湯したい方におすすめです！<br>
							 数種類の生薬配合した『特別風呂』はその日限定のお風呂で行ってみないとわからない限定のお風呂になっています。<br>
							　また特別風呂が開催されてない日は天然温泉の『あつ湯』になり平均湯温43.0度と熱い湯に入りたい方におすすめです。<br>
							 内湯も『電気風呂』、『ぬるま湯ジャグジー』、等数種類の温泉が楽しめますので是非ご来店の際は体感して下さい♪<br>
							 新型コロナウイルスが蔓延る中でも、お客様のことを第一に考える『野天湯元　湯快爽快　ざま』いかがでしょう？
						</font>
						</p>
		</div>

		<div class="check-finish">
			<h2 class="soukai-introduce">♨️〜最後に〜♨️</h2>
			<p class="-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					種類豊富な温泉に旬と鮮度にこだわった和食料理店だけでなくエステや理髪店もある『満天の湯　横浜店』是非ご来館してみてください♪
				</font>
			</p>
		</div>

	</div>


			<section class="access7">
				<div class="container7-4">
					<div class="introduce-set7-1 clearfix">
						<h2 class="access7-1">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set7-2 clearfix">
						<h3 class="address7">♨️〜住所〜♨️</h3>
						<p class="address-text7">
							住所:252-0012 神奈川県座間市広野台1-48-25<br>
							TEL: 046-254-1126
						</p>
					</div>

					<div class="introduce-set7-3 clearfix">
						<h3 class="price7">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>730円</th>
													<th>830円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>360円</th>
													<th>360円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price7">
										22時以降は深夜料金『平日』630円、『土日祝』730円になっています。<br>
										また『館内着＆レンタルフェイス・バスタオルセット』なども借りることができますので、気兼ねなくいけますね♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set7-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text7">
								シャトルバスは新型コロナウイルスの影響により、2020年8月31日をもちまして送迎バスは廃止となりました。<br>
								ご来店の際は、お車か電車と路線バスのどちらかになります。<br>
								お車での来店は施設ご利用中は無料で、収容台数100台以上もありますので安心です♪
							</p>

							<%= render 'impressions' %>

					</div>
					<div class="introduce-set7-5 clearfix">
						<h2 class="map7">♨️〜地図〜♨️</h2>
						<h2 class="map-image7">新型コロナウイルスの影響により<br>
										  	   無料シャトルバスのサービスは終了したため、地図はありません。</div>

					</div>
				</div>
			</section>

<%= render 'btn' %>