<%= render 'menu' %>

<div class="onsen-visual9 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">極楽湯</span>
			<span class="line">横浜芹が谷店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">極楽湯</span>
			<span class="line">横浜芹が谷店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning9">
		<section id="bv">
			<div class="container9-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜極楽湯　横浜芹が谷店〜♨️</h2>
							<p class="bv-introduce">
								<font size="4">『極楽湯　横浜芹が谷店』は神奈川県川崎市にあるのスーパー銭湯です。</font><br>
								<font soze="4">『極楽湯　横浜芹が谷店』はお客様が飽きないように様々なイベントを催しているのがポイントです♪</font><br>
								<font size="4">駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。</font>
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">〜スーパー銭湯をご利用にあたってのマナーとして〜</font><br>
																					 <br>
								<font size="5">1. 脱衣所でのスマホ等の撮影は禁止です！</font><br>
								<font size="5">2. 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。</font><br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
																				  <br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container9-2">

		<h2 class="introduce9">♨️〜極楽湯　横浜芹が谷店の魅力〜♨️</h2>
		<div class="introduce-image9-1"></div>
			<p class="introduce-text9-1">
				<font size="3">『極楽湯　横浜芹が谷店』の魅力5つをご紹介致します!<br>
																		<br>
				1.　『お子様連れも楽しめる！』：極楽湯はゲームコーナーやドリンクコーナーといったお子様が喜ぶようなものがあります！<br>
				2.　『日焼けマシンがある！』：極楽湯ではスーパ銭湯には珍しく日焼けマシンがあります！日焼けしたい方には良い設備ですね！<br>
				3.　『肉料理が多い！』：極楽湯では麺類等の料理も多数ありますが、肉料理のメニューが豊富です！<br>
				4.　『女性に嬉し肌効果の湯！』：極楽湯のpH値と弱アルカリ性と若干ヌルヌルしてることから、美肌効果が期待されています！<br>
				5.　『エステの充実！』：極楽湯では女性に嬉しいエステが豊富にあります！気分によってエステを決めるのも良いですね！</font>
			</p>

		<h2 class="onsen-introduce9">♨️〜極楽湯　横浜芹が谷店の紹介〜♨️</h2>
			<div class="introduce-image9-2"></div>
				<p class="introduce-text9-2">
					<font size="3">『極楽湯』は神奈川県横浜市にあるお一人様からご家族まで楽しめるスーパー銭湯です！<br>
					『極楽湯』は全国展開しているチェーン店で、イベントの開催頻度が高く、お子様のいるご家族でもご来館しやすくなっております。<br>
					 そのため、『湯けむりの庄』と比べるとやはり年齢層が広いので、そのようなのが苦手の方はあまりおすすめしません。<br>
					 お子様のいるご家族は、イベントが豊富なのとゲームコーナーやドリンクコーナーがあるので、お子様が飽きることなく楽しめる場所だと思います♪<br>
					 そんな魅力的な『極楽湯　横浜芹が谷店』にご来館するのはいかがでしょう？</font>
				</p>

		<div class="gokuraku_eat">
				<h2 class="eat-introduce9">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image9-3"></div>
						<p class="introduce-text9-3">
						 	 <font size="3">極楽湯のお食事処『極楽食堂』は『湯上り後に力がみなぎる』をコンセプトにしたお食事処です。<br>
						 	 こちらのお食事処は、力がみなぎるというだけあって肉料理等たスタミナがつく料理が豊富に取り揃えてあります！<br>
						 	 特に、ステーキに力を入れているためか、ステーキ肉が本格的なステーキ屋みたいに分厚いので食べ応えがあります！<br>
							 他にもアルコールも豊富でおつまみ等の一品ものまで豊富なので、ちょっと糸息にいいかもしれません♪<br>
							 『極楽湯』をご来館の際は是非一度立ち寄ってみてはいかがでしょうか♪</font>
						</p>
		</div>

		<div class="gokuraku_spa">
				<h2 class="spa-introduce8">♨️〜温泉〜♨️</h2>
					<div class="introduce-image9-4"></div>
						<p class="introduce-text9-4">
						 	<font size="3"> 『極楽湯』の温泉の一つに黒湯を炭酸ガス溶け込ませる『黒湯炭酸泉』が自慢になっています♪<br>
						 	『黒湯』とは、木の葉やワカメなどの海藻・植物が腐敗した「有機物フミン酸」が溶け込んだお湯と<br>
							 「硫化物」によって黒色になるものの2種類があり、『にごり湯』の一種になります。<br>
							 そんな『黒湯』に炭酸を溶け込ませることによって無限の可能性を秘めた温泉になるのではないかと思います！<br>
							 内湯では地下1,500ｍからくみ上げた天然温泉を加水せずにそのまま贅沢に使用した『自然の湯』もおすすめします♪<br>
							 他にも様々な温泉がありますので、『極楽湯』を是非ご来館してみてはいかがでしょうか？
						</font>
						</p>
		</div>

		<div class="gaze-finish">
			<h2 class="gokuraku-introduce">♨️〜最後に〜♨️</h2>
			<p class="gokuraku-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					お客様を飽きさせないようイベントを頻繁に開催する『極楽湯　横浜芹が谷店』是非ご来館してみてください♪
				</font>
			</p>
		</div>

	</div>

			<section class="access9">
				<div class="container9-4">
					<div class="introduce-set9-1 clearfix">
						<h2 class="access9-1">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set9-2 clearfix">
						<h3 class="address3">♨️〜住所〜♨️</h3>
						<p class="address-text3">
							住所:233-0006 神奈川県横浜市港南区芹が谷5-54-8<br>
							TEL:045-820-4126
						</p>
					</div>

					<div class="introduce-set9-3 clearfix">
						<h3 class="price9">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>800円</th>
													<th>950円</th>
												</tr>
												<tr>
													<th>子供(小学生まで)</th>
													<th>380円</th>
													<th>480円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price9">
										会員制度及び会員カードは2019年9月末をもちまして終了となりました。<br>
										会員カード終了のかわりに回数券というのが出来ました。<br>
										『10枚 6,900円』とお得になるので、是非ご利用してみてください♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set9-4 clearfix">
						<h3 class="bus">♨️　無料送迎バスについて　♨️</h3>
							<p class="price-text9">
								無料送迎バスは『JR東戸塚駅東口』にて無料送迎しています！<br>
								また『上大岡駅』からも無料送迎バスが発車しているので、是非ご活用ください♪<br>
								お車での来店も無料で駐車場数200台もありますので安心です♪
							</p>

							<%= render 'impressions' %>

					</div>
					<div class="introduce-set9-5 clearfix">
						<h2 class="map9">♨️〜地図〜♨️</h2>
						<div class="map-image9"></div>

							<p class="map_text9">
								出典: 極楽湯　横浜芹が谷店
							</p>
					</div>
				</div>
			</section>

<%= render 'btn' %>