<%= render 'menu' %>

<div class="info-container">
	<div class="info-title">
		<h1>インフォメーション</h1>
	</div>
	<div class="info-box">
		<br>
		<h3>
			<div class="new-letter">New!</div>　湯のここちリニューアル！<br>
			<div class="new-letter">New!</div>　フォロー機能追加しました！<br>
			<div class="new-letter">New!</div>　コメント機能をリニューアルしました！<br>
			<div class="new-letter">New!</div>　各温泉ページにGoogle Mapを用意しました！
		</h3>
		<br>
	</div>
</div>