<%= render 'menu' %>

<div class="info-container">
	<div class="info-title">
		<h1>インフォメーション</h1>
	</div>
	<div class="info-box">
		<br>
		<h3>
			<div class="new-letter">1/21 New!</div>　細かい調整をしました！<br>
																	<br>
			<div class="new-letter">New!</div>　湯のここちリニューアル！<br>
																	<br>
			<div class="new-letter">New!</div>　フォロー機能追加しました！<br>
																	<br>
			<div class="new-letter">New!</div>　コメント機能をリニューアルしました！<br>
		</h3>
		<br>
	</div>
</div>