<%= render 'menu' %>

<div class="info-container">
	<div class="info-title">
		<h1>お知らせ</h1>
	</div>
	<div class="info-box">
		<br>
		<h3>
			<div class="new-letter">3/21 New!</div>　温泉共有のデザイン修正と画像更新が可能になりました！<br>
																	<br>
			<div class="new-letter">2/27 New!</div>　残りの温泉紹介ページのコメント機能を追加しました！<br>
																	<br>
			<div class="new-letter">2/20 New!</div>　各温泉紹介ページにコメント機能を追加しました！<br>
																	<br>
			<div class="new-letter">2/15 New!</div>　メイン画面のデザインを変更しました！<br>
		</h3>
		<br>
	</div>
</div>