

<body>
	<%= render 'menu' %>

		<div class="onsen-visual clearfix">
			  <div class="mask normal">
			    <p class="text">
			      <span class="line">横濱&nbsp;スパヒルズ</span>
			      <span class="line">竜泉寺の湯&nbsp;へ</span>
			      <span class="line">ようこそ!♨️</span>
			    </p>
			  </div>
			  <div class="mask burn">
			    <p class="text">
			      <span class="line">横濱&nbsp;スパ&ヒルズ</span>
			      <span class="line">竜泉寺の湯&nbsp;へ</span>
			      <span class="line"><span class="large">ようこそ!♨️</span></span>
			    </p>
			  </div>
		</div>
			<!-- スーパー銭湯の紹介 -->
			<div class="beginning">
				<section id="bv">
					<div class="container5">
								<div class="introduce-set clearfix">
								<h2 class="bv-title">♨️〜横濱スパヒルズ　竜泉寺の湯の紹介〜♨️</h2>
								<p class="bv-introduce">
									<font size="4">『横濱スパヒルズ　竜泉寺の湯』は2019年12月にリニューアルオープンしたばかりのスーパー銭湯です。</font><br>
									<font size="4">リニューアルオープンしたばかりとあって館内はとても綺麗で清潔感も抜群のスーパー銭湯でした。</font><br>
									<font size="4">皆様も一度リニューアルされた『横濱スパヒルズ　竜泉寺の湯』は如何でしょうか？</font>
								</p>
								<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
									<p class="bv-manners2">
									<font size="5">〜スーパー銭湯をご利用にあたってのマナーとして〜</font><br>
									<br>
									<font size="5">1. 岩盤浴を使用する際は『竜泉寺の湯にある本の持ち込み』『ペットボトル等のドリンク』の持ち込みは禁止です。</font><br>
									<font size="5">2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。</font><br>
									<font size="5">3.皆様ごゆるりと施設内をお過ごしくださいませ♪</font>
								</p>
						</div>
					</div>
				</section>
			</div>


			<!-- 館内紹介 -->
			<section class="portforio">
				<div class="container6">
					<div class="introduce-set1 clearfix">

					<h2 class="introduce">♨️〜館内紹介〜♨️</h2>
						<h2 class="forest-villa1">♨️〜岩盤浴スペース〜♨️</h2>
							<div class="introduce-image1"></div>
								<p class="introduce-text1">
									『forest villa』という名前の岩盤浴ラウンジがあります。<br>
									コンセプトは大人な雰囲気の中、読書を楽しんだり岩盤浴を楽しみ心ゆくまでゆったりと寛いで頂きたいという思いがあります。<br>
									ソファーがあり寛ぎながら読書したり、テレビを見たり、仮眠したりなんでもできますよ♪<br>
									岩盤浴専用ラウンジに入るためには入館料＋岩盤浴料を払うことによって入れるようになります。<br>
									有料にはなりますが、是非一度心ゆくまで寛いでみてはいかがでしょうか？
								</p>
					</div>

					<div class="introduce-set2 clearfix">

						<h2 class="forest-villa2">♨️〜『forest-villa』について〜♨️</h2>
							<div class="introduce-image2"></div>
								<p class="introduce-text2">
									大人な空間の『forest-villa』ですがここには漫画、小説、ライフスタイル本等10000冊以上の本が読み放題です。<br>
									寛ぎながら優雅な読書タイムなんかも良いでしょうね♪<br>
									さらには一人用のテレビやまるでカプセルホテルのような一人用の空間を設けており、ゆったりとした時間をお過ごし頂くこともできます。<br>
									一汗かいた後に休憩するのもいいと思います♪
								</p>
					</div>

					<div class="introduce-set3 clearfix">
						<h2 class="forest-villa3">♨️〜『forest-villa』の岩盤浴〜♨️</h2>
							<div class="introduce-image3"></div>
								<p class="introduce-text3">
									『foresut-villa』には女性専用の岩盤浴を含めると全6種類の岩盤浴があります♪<br>
									岩盤浴は新陳代謝の活発化による、血行改善、冷え性等の改善が期待できます。<br>
									また、発汗作用があることからダイエットなんかにも良いそうです♪<br>
									女性専用の岩盤浴は温度も約45度と長時間入っていても苦にはならない女性には嬉しい温度だと思います♪<br>
									リラックスしながら健康的になれる岩盤浴でゆったりと寛ぎ下さい♪
								</p>
					</div>


					<div class="introduce-set4 clearfix">
						<h2 class="forest-villa4">♨️〜岩盤浴紹介〜♨️</h2>
							<h4><p class="introduce-text4">
								続いては岩盤浴の種類をご紹介いたします！<br>
								温度は18度〜93度まで様々な種類の岩盤浴があります。<br>
								お好みな温度の岩盤浴を楽しんでください♪<br>
								きっとお気に入りの岩盤浴が見つかると思います♪<br>
								左上から順に『大汗汗蒸幕』、『アロマブラックゲルマ』、『アロマザルツ』、『美宝石房(女性専用)』、『アロマソルト』、『薬宝黄土房』になっております。<br>
								是非一度岩盤浴を味わってみて下さい♪
							</p><h4>
					</div>


					<div class="hotspa-images clearfix">
						<div class="introduce-image4"></div>
						<div class="introduce-image5"></div>
						<div class="introduce-image6"></div>
						<div class="introduce-image7"></div>
						<div class="introduce-image8"></div>
						<div class="introduce-image9"></div>
					</div>


					<div class="introduce-set5 clearfix">
						<h2 class="food-erea">♨️〜お食事について〜♨️</h2>
							<div class="introduce-image10"></div>
								<p class="introduce-text5">
									竜泉寺の湯のお食事についてご紹介致します！<br>
									竜泉寺の湯の中にある食事処『湯上りキッチン　一休』<br>
									一休では、日本海の漁場から毎日直送される産直干物をメインに
									100種類以上のお酒や飲み物を用意いているそうです♪<br>
									魚以外にもお肉や蕎麦などもたくさんの種類がありますので、楽しくお食事ができると思います♪<br>
									たくさんの種類の食事があるので楽しく食事ができると思います♪
								</p>
					</div>


						<div class="introduce-set6 clearfix">
							<h2 class="food-menu">♨️〜一休の食事〜♨️</h2>
								<div class="introduce-image11"></div>
									<p class="introduce-text5">
										今回私はお蕎麦とチョコレートパフェをいただきました！<br>
										お蕎麦はコシが強く歯応えがあり蕎麦の風味が素晴らしかったです。<br>
										めんつゆも出汁からしっかりと取っていたため、風味もよくとても美味しかたです！<br>
										チョコレートパフェも大きすぎないちょうど良い大きさでした。<br>
										チョコアイスの下にはチョコのババロアがあり添えつけには、ワッフルとチョコソースがかかっていていたのですが甘すぎないほど良い甘さでした。<br>
										チョコ好きの方にはとても嬉しい一品だと思います！

									</p>
						</div>


						<div class="introduce-set7 clearfix">
							<h2 class="onsen-spa">♨️〜温泉について〜♨️</h2>
								<div class="introduce-image12"></div>
									<p class="introduce-text6">
										最後に温泉についてご紹介致します！<br>
										今回は『高濃度炭酸風呂』、『泡風呂』、『ジェットバス』をご紹介致します。<br>
										こちらの温泉は約40度ほどとお子様からお年寄りまで様々な方にも気軽に入れる設定温度になっております。<br>
										心ゆくまでお寛ぎください♪
									</p>
						</div>

				<h2 class="onsen-spa2">♨️️〜温泉の種類〜♨️</h2>
						<div class="introduce-set8 clearfix">
							<h4><p class="onsen-text">
								ここの温泉はほぼ全て『40度』くらいなので子供からお年寄りまで安心して入る事ができます！<br>
								温泉に入浴する際は『半身浴』で入浴すると体に負担が減り、気持ちよく入浴できます♪<br>
								ご高齢の方や乳幼児、持病のある方は『半身浴』で疲れを癒されてください♪
							</p></h4>
								<div class="introduce-image13"></div>
								<h2 class="introduce-title7">『高濃度炭酸風呂』</h2>
									<p class="introduce-text7">
										『高濃度炭酸風呂』は文字通り高濃度の炭酸が溢れ出ている温泉です。<br>
										この温泉、実はすごいのです！<br>
										この温泉は医師も絶賛しているおすすめな温泉なのです。<br>
										高濃度の炭酸が、身体中をほぐし血行促進が期待できるのです！<br>
										また、高濃度の炭酸が体をほぐしてくれるため、疲れている体もリフレッシュできると思います！
										力仕事の方におすすめしたい温泉です♪
									</p>
						</div>


						<div class=" introduce-set9 clearfix">
							<div class="introduce-image14"></div>
								<h2 class="introduce-title8">『泡風呂』</h2>
								<p class="introduce-text8">
									こちらの温泉はなんと！横浜店新登場の『泡風呂』だそうです！<br>
									他の竜泉寺の湯に行ってもないので是非横浜店まで足を運び味わって下さい♪<br>
									こちらの温泉は下から泡が出てきて、全身の血行をよくしてくれる温泉です！<br>
									『高濃度炭酸風呂』に似ていますが、こちらは屋外にあるため横浜の景色を楽しみながら入る事ができます♪<br>
									夜にはライトアップもするので温泉に浸かりながら、幻想的な空間にいると疲れも飛ぶに違いません♪
								</p>
						</div>


						<div class="introduce-set10 clearfix">
							<div class="introduce-image15"></div>
								<h2 class="introduce-title9">『ジェットバス』</h2>
								<p class="introduce-text9">
								最後は皆さんも大好きな、ジェットバスを紹介します！<br>
								このジェットバス、実はすごいんです！<br>
								実は、普段は何も出ていないのですが、人を感知するとジェット泡が出るようになっているのです！<br>
								強弱の設定はできないものの、弱いから強いまで自動で噴射してくれるのです！<br>
								ジェットバスで背中をマッサージができ気持ち良いと思います。<br>
								是非一度ジェットバスでマッサージされるのは如何でしょうか？
								</p>
							</div>

				</div>
			</section>


			<section class="access">
				<div class="container7">
					<div class="introduce-set11 clearfix">
						<h2 class="access">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set12 clearfix">
						<h3 class="address">♨️〜住所〜♨️</h3>
						<p class="address-text">
							住所:神奈川県横浜市旭区白根8-8<br>
							TEL:045-459-5268
						</p>
					</div>

					<div class="introduce-set13 clearfix">
						<h3 class="price">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>750円</th>
													<th>850円</th>
												</tr>
												<tr>
													<th>子供</th>
													<th>300円</th>
													<th>300円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price">
										岩盤浴は別途で平日は一律650円、休日は一律750円の、<br>
										合計平日1,400円、土日祝日1,600円になります。<br>
										少々お高く感じると思いますが、岩盤浴等様々な物が利用できますのでおすすめします♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set14 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text">
								シャトルバスは『鶴ヶ峰駅』と『中山駅』にて無料送迎しています！<br>
								電車で竜泉寺の湯に行く際にはぜひご利用してください♪<br>
								また、お車でのご来店も無料の駐車場が300台分ありますので安心していけます。
							</p>

							<%= render 'impressions' %>

					</div>
					<div class="introduce-set15 clearfix">
						<h2 class="map">♨️〜地図〜♨️</h2>
						<div class="map-image"></div>

					</div>
				</div>
			</section>

			<%= render 'btn' %>

	<div class="tweet-container">
		<font size="5"="tweet-comment">♨️〜コメント〜♨️</font>
		<%= render "tweet" %>
	</div
</body>


