<%= render 'menu' %>

<div class="onsen-visual6 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">天然温泉&nbsp;湯花楽</span>
			<span class="line">厚木店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">天然温泉　湯花楽</span>
			<span class="line">厚木店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning6">
		<section id="bv">
			<div class="container6-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜天然温泉 湯花楽 厚木店〜♨️</h2>
							<p class="bv-introduce">
								<font size="4">『天然温泉 湯花楽 厚木店』は神奈川県厚木市にあるスーパー銭湯です。</font><br>
								<font size="4">「湯花楽」と書いて「ゆからく」と読みます。</font><br>
								<font size="4">湯花楽には日本最大級の「麦飯石サウナ」というサウナがあり寝転びながら漫画を読んだりすることができます。</font>
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">〜スーパー銭湯をご利用にあたってのマナーとして〜</font><br>
																			   <br>
								<font size="5">1. 脱衣所でのスマホ等の撮影は禁止です！</font><br>
								<font size="5">2. 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。</font><br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
																				  <br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container6-2">

		<h2 class="introduce6">♨️湯花楽 厚木店〜の魅力〜♨️</h2>
		<div class="introduce-image6-1"></div>
			<p class="introduce-text6-1">
				<font size="3">『湯花楽 厚木店』の魅力5つをご紹介致します!<br>
																		<br>
				1.『多彩な極上露天風呂！』：湯花楽 厚木店は露天風呂が多彩で美しく澄んだ青空に風情あふれる「和」の空間を演出しています！<br>
				2.『疲れをときほぐす多様なリラクゼーション！』：湯花楽 厚木店ではリラクゼーションが豊富で心地よくこりや疲れを取ることができます！<br>
				3.『日本最大級の「麦飯石サウナ」！』：湯花楽 厚木店では日本最大級のサウナ「麦飯石サウナ」があります。<br>
				4.『こだわりのお食事処！』：湯花楽 厚木店では料理職人が素材から調理法まで一品一品細部にまで拘っています！<br>
				5.『温泉宿に泊まりにきた気分になれる！』：湯花楽 厚木店は「和」をモチーフにされているので心華やぐ和風モダンな内装があなたの心を癒してくれるでしょう♪</font>
			</p>

		<h2 class="onsen-introduce6">♨️〜湯花楽 厚木店の紹介〜♨️</h2>
			<div class="introduce-image6-2"></div>
				<p class="introduce-text6-2">
					<font size="3">『湯花楽 厚木店』はお一人様から大人の贅沢味わうスーパー銭湯です！<br>
					 おひとりでゆっくりと温泉に浸かった後、リラクゼーションでマッサージを受けお食事を楽しむのはいかがでしょう♪<br>
					 ご家族だとお子様には少し向いていないと思われるので、大人同士で楽しむのがやはりおすすめだと思います♪<br>
					 ですが、漫画や雑誌が2500冊が読み放題ですので、お子様がご来店してもそこまでは退屈しないと思われます。<br>
					 そんな『和』の魅力があるな『湯花楽 厚木店』にご来館するのはいかがでしょう？</font>
				</p>

		<div class="oyugiwa_eat">
				<h2 class="eat-introduce6">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image6-3"></div>
						<p class="introduce-text6-3">
						 	 <font size="3">湯花楽 厚木店のお食事処「華」は旅館で食べる食事のようなきめ細やかな味を楽しむことができます。<br>
						 	　お食事処から個室、宴会場まで幅広くご提供しております。お友達から家族とゆっくりとお食事を楽しむことができますね♪<br>
						 	 お食事処「華」では食材にもこだわりがあり、究極の卵と称される、ぎっしり濃厚な卵黄の卵『寿雀卵』を使用しています。<br>
							 他にも、神奈川県内指定生産農場で厳選された豚肉で神奈川の上質銘柄豚の『やまゆりポーク』も使用しております。<br>
							 湯花楽 厚木店の食事処「華」営業時間は『月～木・日　11:30～21:00』、『金・土・祝前日 11:30～22:00』になっております。ご来館の際は是非ご利用ください♪</font>
						</p>
		</div>

		<div class="oyugiwa_spa">
				<h2 class="spa-introduce6">♨️〜温泉〜♨️</h2>
					<div class="introduce-image6-4"></div>
						<p class="introduce-text6-4">
						 	<font size="3">湯花楽 厚木店では厚木温泉の単純温泉（中性－低張性－温泉）を使用しているため、筋肉痛や神経痛、疲労回復に効くと言われています。<br>
						 	湯花楽 厚木店はなんといっても露天風呂がとても豊富で、空を眺めながら温泉を楽しむことができます！<br>
						 	昼は青空、夜は星空と月を見上げながら温泉を楽しむことができる『源泉露天風呂』が一番おすすめです♪<br>
						 	屋根付きで檜の高級感あふれる香りとともに四季を感じ、温泉を楽しむことができる『源泉檜風呂』も大人気です♪
						 	備長炭を使用した湯船で木炭には浄化作用があり、マイナスイオンや遠赤外線を発生させる『炭湯』も落ち着きのある温泉です♪<br>
						 	おひとりでゆったりとくつろげる『壺湯』も風情があり心と体を癒してくれると思います♪
						</font>
						</p>
		</div>

		<div class="looking-finish">
			<h2 class="yukaraku-introduce">♨️〜最後に〜♨️</h2>
			<p class="yukaraku-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					大人を焦点に当て『和』を細部までこだわった大人のスーパー銭湯『湯花楽 厚木店』是非ご来館してみてください♪
				</font>
			</p>
		</div>

	</div>

			<section class="access6">
				<div class="container6-4">
					<div class="introduce-set6-7 clearfix">
						<h2 class="access6-1">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set6-8 clearfix">
						<h3 class="address6">♨️〜住所〜♨️</h3>
						<p class="address-text6">
							住所:243-0816 神奈川県厚木市林5-8-12<br>
							TEL:046-296-4126
						</p>
					</div>

					<div class="introduce-set6-9 clearfix">
						<h3 class="price6">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>950円</th>
													<th>1000円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>620円</th>
													<th>620円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price6">
										大人料金は『ひとっ風呂コース』(1時間以内の利用)を紹介しました。<br>
										長時間滞在したい場合『1日ゆったりコース』平日1,250円、土日祝日1,450円もあります。<br>
										また会員様限定割引もありますので是非ご利用ください♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set6-10 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text6">
								小田急小田原本厚木駅北口、南口から無料シャトルバスが出ています。<br>
								北口は約20分、南口は約15分となっています。<br>
								お車の場合は、東名高速厚木インターから車で15分、小田急線本厚木駅から7分の場所にあります。<br>駐車場台数も150台完備してるので安心です。<br>
							</p>

							<%= render 'impressions' %>

					</div>
					<div class="introduce-set6-11 clearfix">
						<h2 class="map6">♨️〜地図〜♨️</h2>
						<h4 class="map-text6">
							※地図は無料シャトルバスの地図です。
						</h4>
						<div class="map-image6"></div>

					</div>
				</div>
			</section>


<%= render 'btn' %>