<%= render 'menu' %>

<div class="onsen-visual6 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">天然温泉&nbsp;湯花楽</span>
			<span class="line">厚木店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">天然温泉　湯花楽</span>
			<span class="line">厚木店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning6">
		<section id="bv">
			<div class="container8">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜天然温泉 湯花楽 厚木店〜♨️</h2>
							<p class="bv-introduce">
								『天然温泉 湯花楽 厚木店』は神奈川県厚木市にあるスーパー銭湯です。<br>
								「湯花楽」と書いて「ゆからく」と読みます。<br>
								湯花楽には日本最大級の「麦飯石サウナ」というサウナがあり寝転びながら漫画を読んだりすることができます。
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮して願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">申し訳ありませんが、今しばらくお待ちください。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

			<section class="access6">
				<div class="container6-2">
					<div class="introduce-set6-1 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set6-2 clearfix">
						<h3 class="address5">♨️〜住所〜♨️</h3>
						<p class="address-text5">
							住所:243-0816 神奈川県厚木市林5-8-12<br>
							TEL:046-296-4126
						</p>
					</div>

					<div class="introduce-set6-3 clearfix">
						<h3 class="price6">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>950円</th>
													<th>1000円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>620円</th>
													<th>620円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price6">
										大人料金は『ひとっ風呂コース』(1時間以内の利用)を紹介しました。<br>
										長時間滞在したい場合『1日ゆったりコース』平日1,250円、土日祝日1,450円もあります。<br>
										また会員様限定割引もありますので是非ご利用ください♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set6-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text6">
								小田急小田原本厚木駅北口、南口から無料シャトルバスが出ています。<br>
								北口は約20分、南口は約15分となっています。<br>
								お車の場合は、東名高速厚木インターから車で15分、小田急線本厚木駅から7分の場所にあります。<br>駐車場台数も150台完備してるので安心です。<br>
							</p>

							<div class="kansou6">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set6-5 clearfix">
						<h2 class="map6">♨️〜地図〜♨️</h2>
						<h4 class="map-text6">
							※地図は無料シャトルバスの地図です。
						</h4>
						<div class="map-image6"></div>
					</div>
				</div>
			</section>


<%= render 'btn' %>