<%= render 'menu' %>

    <div class="d-flex align-items-center">
      <h1>感想はこちら♪</h1>
      <div class="col-sm-2 col-md-offset-10">
            <%= button_to '感想一覧', blogs_path, class: "btn btn-info btn-block", method: :get %>
      </div>
    </div>

        <%= render partial: 'form', locals: { blog: @blog} %>