<%= render 'menu' %>

    <div class="d-flex align-items-center" mt-4 mb-4>
      <h1>感想はこちら♪</h1>
      <div class="ml-auto blogs_button">
          <%= link_to "感想一覧", blogs_path, class: 'btn btn-outline-info' %>
      </div>
    </div>

        <%= render partial: 'form', locals: { blog: @blog} %>