<%= render 'menu' %>

<div class="b-new_container">

    <div class="d-flex align-items-center">
    	<div class="b-new__comment">
    		<h1>温泉の共有はこちら♪</h1>
    	</div>
      <div class="b-new_comment_box">
            <%= link_to '温泉共有一覧', blogs_path, class: 'btn-border-button' %>
      </div>
    </div>

        <%= render partial: 'form', locals: { blog: @blog } %>
</div>