<%= render 'menu' %>

<div class="b-new_container">

    <div class="d-flex align-items-center">
    	<div class="b-new__comment">
    		<h1>コメントはこちら♪</h1>
    	</div>
      <div class="b-new_comment_box">
            <%= link_to 'コメント一覧', blogs_path, class: "btn btn--pink btn--cubic btn--shadow", method: :get %>
      </div>
    </div>

        <%= render partial: 'form', locals: { blog: @blog} %>
</div>