<%= render 'menu' %>

    <div class="d-flex align-items-center">
    	<div class="b-new__comment">
    		<h1>コメントはこちら♪</h1>
    	</div>
      <div class="col-sm-2 col-md-offset-10">
            <%= button_to 'コメント一覧', blogs_path, class: "btn btn-info btn-block", method: :get %>
      </div>
    </div>

        <%= render partial: 'form', locals: { blog: @blog} %>