<%= render 'menu' %>

<div class="precaution-container">
	<div class="precaution-title">
		<h1>注意事項！</h1>
	</div>
	<div class="precaution-box">
		<h2>湯のここちでは気持ちよく利用して頂くため、以下を守りましょう！</h2>
		<br>
		<h3>
			1. 掲示板の趣旨と関係ない書き込み<br>
			2. 誹謗・中傷含む書き込み<br>
			3. 他人の権利を侵害するコンテンツの掲載<br>
			4. 他サイトやアプリの宣伝<br>
			5. アカウント売買目的の書き込み<br>
			6. 招待URLの書き込み<br>
		</h3>
		<br>
	</div>
</div>