<%= render 'menu' %>

<div class="precaution-container">
	<div class="b-show__comment">
		<h1>注意事項！</h1>
	</div>
	<div class="precaution-box">
		<h2>湯のここちでは気持ちよく使って頂くため、以下を守りましょう！</h2>
		<br>
		<h3>
			・掲示板の趣旨と関係ない書き込み<br>
			・誹謗・中傷含む書き込み<br>
			・他人の権利を侵害するコンテンツの掲載<br>
			・他サイトやアプリの宣伝<br>
			・アカウント売買目的の書き込み<br>
			・招待URLの書き込み<br>
		</h3>
		<br>
	</div>
</div>