<%= render 'menu' %>

<div class="precaution-container">
	<div class="precaution-box">
		<h1>注意事項！</h1>

掲示板の趣旨と関係ない書き込み<br>
誹謗・中傷含む書き込み<br>
他人の権利を侵害するコンテンツの掲載<br>
他サイトやアプリの宣伝<br>
アカウント売買目的の書き込み<br>
招待URLの書き込み<br>
	</div>
</div>