<%= render 'menu' %>

<div class="onsen-visual3 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">万葉倶楽部</span>
			<span class="line">横浜みなとみらい店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">万葉倶楽部</span>
			<span class="line">横浜みなとみらい店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning3">
		<section id="bv">
			<div class="container8">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜横浜みなとみらい　万葉倶楽部〜♨️</h2>
							<p class="bv-introduce">
								『横浜みなとみらい　万葉倶楽部』は神奈川県横浜市にあるスーパー銭湯です。<br>
								横浜みなとみらいの絶景を楽しみながら温泉に浸かり癒しを求めつのはいかがでしょうか？
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

			<section class="access3">
				<div class="container3-1">
					<div class="introduce-set3-1 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set3-2 clearfix">
						<h3 class="address3">♨️〜住所〜♨️</h3>
						<p class="address-text3">
							住所:231-0001 神奈川県横浜市中区新港2-7-1<br>
							TEL:0570-07-4126
						</p>
					</div>

					<div class="introduce-set3-3 clearfix">
						<h3 class="price3">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>2,750円</th>
													<th>2,750円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>1,540円</th>
													<th>1,540円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price3">
										幼児(3才～未就学児)は1,040円になり、3歳未満は無料になります。<br>
										また有料会員限定の価格もありますので是非ご利用ください♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set3-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text3">
								シャトルバスは横浜駅西口にて無料送迎しています！<br>
								電車で万葉倶楽部に行く際にはぜひご利用してください♪<br>
								お車での来店も有料ですが、駐車場数226台もありますので安心です♪
							</p>

							<div class="kansou3">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set3-5 clearfix">
						<h2 class="map3">♨️〜地図〜♨️</h2>
						<div class="map-image3"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>