<%= render 'menu' %>

<div class="onsen-visual3 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">万葉倶楽部</span>
			<span class="line">横浜みなとみらい店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">万葉倶楽部</span>
			<span class="line">横浜みなとみらい店&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning3">
		<section id="bv">
			<div class="container8">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜横浜みなとみらい　万葉倶楽部〜♨️</h2>
							<p class="bv-introduce">
								<font size="4">『横浜みなとみらい　万葉倶楽部』は神奈川県横浜市にあるスーパー銭湯です。</font><br>
								<font size="4">夜はみなとみらいのシンボルである、『ランドマークタワー』と『コスモクロック』の夜景が素晴らしいです♪</font><br>
								<font size="4">横浜みなとみらいの絶景を楽しみながら温泉に浸かり癒しを求めつのはいかがでしょうか？</font>
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
																				  <br>
								<font size="5">1. 脱衣所のスマホの撮影は禁止です！</font><br>
								<font size="5">2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。</font><br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container3-2">

		<h2 class="introduce3">♨️〜横浜みなとみらい　万葉倶楽部の魅力〜♨️</h2>
		<div class="introduce-image3-1"></div>
			<p class="introduce-text3-1">
				<font size="3">『横浜みなとみらい　万葉倶楽部』の魅力を5つをご紹介致します!<br>
																		<br>
				1.『横浜の絶景が楽しめる！』：横浜みなとみらい　万葉倶楽部は横浜の素晴らしい景色を360度楽しみながら温泉に入ることができます！<br>
				2.『遊びどころが充実！』：横浜みなとみらい　万葉倶楽部は「ゲーム」と「温泉」が両方楽しめます。それだけでなく、カラオケルームや読書処など、アクティビティが満載なので、お子様からご家族まで一日中楽しめる施設になっています！<br>
				3.『休み処が豊富！』：横浜みなとみらい　万葉倶楽部では無料休憩所から有料で貸部屋を提供しています。さらに料金を支払うと洋室、和室で宿泊することができます！一度宿泊するのも良いですね♪<br>
				4.『24時間営業！』：横浜みなとみらい　万葉倶楽部は年中無休24時間営業なのでいつでも好きな時にご来店できるようになっています！<br>
				5.『VIP様限定特典！』：横浜みなとみらい　万葉倶楽部ではワンランク上のVIP会員様限定のサービスがあります。普通では味わえない最高なひとときを味わうことができます！</font>
			</p>

		<h2 class="onsen-introduce3">♨️〜万葉倶楽部の紹介〜♨️</h2>
			<div class="introduce-image3-2"></div>
				<p class="introduce-text3-2">
					<font size="3">『横浜みなとみらい　万葉倶楽部』はお一人様からご家族まで様々なお客様のニーズにお応えしたスーパー銭湯です！<br>
					 横浜の立地を生かし、絶景を楽しみながら温泉に浸かり、入浴後は絶景を満喫しながらお食事をしたりと普段は味わうことができない最高な時間を過ごすことができます。<br>
					 ご家族と一緒に温泉に入り、お子様と一緒にカラオケやゲームを楽しむというのもとても良いですね♪<br>
					 女性同士なら温泉に入った後にエステでマッサージをし、美味しいデザートなんかを食べるのも至福な時間になりますね♪<br>
					 恋人同士でもゲームを楽しんだりカラオケで歌ったり、屋上で足湯なんかもロマンチックで素敵な日になると思います♪<br>
					 そんな横浜の絶景を楽しむことができる『横浜みなとみらい　万葉倶楽部』にご来館するのはいかがでしょうか？</font>
				</p>

		<div class="manten_eat">
				<h2 class="eat-introduce3">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image3-3"></div>
						<p class="introduce-text3-3">
						 	 <font size="3">横浜みなとみらい　万葉倶楽部は温泉だけでなく料理にも一品一品こだわっています。<br>
						 	 さらに、横浜みなとみらい　万葉倶楽部では二箇所でお食事が可能な場所があるので、シーンに合わせて選べるのも素晴らしいですね♪<br>
						 	 まるで料亭を思わせる空間でお食事ができる半個室の『万葉庵』と24時間好きな時間に利用可能な『憩い処』。<br>
						 	 そんなお食事処の定番且つおすすめメニューが「天ぷら」「そば」「すし」「旬の味」「汁物」がついた『万葉御膳』です！<br>
						 	 他にも肉、海鮮をふんだんに使った『丼物』、5種のパフェやソフトクリーム、かき氷、あんみつ等の『デザート』も大変おすすめです♪<br>
						 	 半個室の『万葉庵』は11:30～15:00／17:00～23:00になり、『憩い処』はドリンクは24時間営業で料理は午前11:30〜8:30になっています♪
							 </font>
						</p>
		</div>

		<div class="manyou_spa">
				<h2 class="spa-introduce4">♨️〜温泉〜♨️</h2>
					<div class="introduce-image3-4"></div>
						<p class="introduce-text3-4">
						 	<font size="3"> 横浜みなとみらい　万葉倶楽部では展望足湯庭園を始め様々な温泉がたくさんあります♪<br>
						 	 やはり横浜みなとみらい　万葉倶楽部の目玉である外周約50メートルにも及ぶ『展望足湯庭園』が大変おすすめです！<br>
						 	 『展望足湯庭園』はみなとみらい21地区の景観が一望でき、晴天下では富士山を望むこともできます！<br>
							 女性限定のナノサイズの温かいミストが身体を優しく包み込む体感浴『ナノクラ』というのもあります。<br>
							　ナノクラとは、「ナノミスト＆マイクロクラウド」の略称で、極細小のミストを発生させる装置だそうです。<br>
							 温ミストが全身を温かく包み込み、深部体温を上げて発汗・血流を促進し、角質層などに浸潤して美肌効果をもたらしてくれるそうです。<br>
							 他にも、ひのきの香りで心身ともに落ち着きを与える『ひのき風呂』、全身脱力できる『寝湯』もあります。<br>
						</font>
						</p>
		</div>

		<div class="saw-finish">
			<h2 class="manyou-introduce">♨️〜最後に〜♨️</h2>
			<p class="manyou-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					横浜の絶景を眺めながらの温泉や食事といった、贅沢なひと時を味わえる『横浜みなとみらい　万葉倶楽部』是非ご来館してみて下さい♪
				</font>
			</p>
		</div>

	</div>

			<section class="access3">
				<div class="container3-4">
					<div class="introduce-set3-7 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set3-8 clearfix">
						<h3 class="address3">♨️〜住所〜♨️</h3>
						<p class="address-text3">
							住所:231-0001 神奈川県横浜市中区新港2-7-1<br>
							TEL:0570-07-4126
						</p>
					</div>

					<div class="introduce-set3-9 clearfix">
						<h3 class="price3">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>2,750円</th>
													<th>2,750円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>1,540円</th>
													<th>1,540円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price3">
										幼児(3才～未就学児)は1,040円になり、3歳未満は無料になります。<br>
										また有料会員限定の価格もありますので是非ご利用ください♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set3-10 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text3">
								シャトルバスは横浜駅西口にて無料送迎しています！<br>
								電車で万葉倶楽部に行く際にはぜひご利用してください♪<br>
								お車での来店も有料ですが、駐車場数226台もありますので安心です♪
							</p>

							<div class="kansou3">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set3-11 clearfix">
						<h2 class="map3">♨️〜地図〜♨️</h2>
						<div class="map-image3"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>