<body>

	<header>
			<%= link_to blogs_path do %>
	      <%= image_tag 'img/yunokokoti.png',class:"photo" %>
	      	<% end %>
	</header>


		<div class="introduce-visual2 clearfix">
			<section id="iv">
				<div class="container4">
				</div>
			</section>
		</div>
			<!-- スーパー銭湯の紹介 -->
			<div class="beginning">
				<section id="bv">
					<div class="container8">
								<div class="introduce-set clearfix">
								<h2 class="bv-title">♨️おふろの王様の紹介♨️</h2>
								<p class="bv-introduce">
									『おふろの王様』は私の地元に近くにあるの銭湯です。<br>
									感想としてはスーパー銭湯というよりは、日帰り温泉に近いものを感じました。
								</p>
								<h2 class="bv-manners">♨️利用マナー♨️</h2>
									<p class="bv-manners2">
									<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
									1. 脱衣所のスマホの撮影はは禁止<br>
									2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮して願います。<br>
									<font size="5">3.皆さんごゆるりとお過ごしください♪</font>
								</p>
						</div>
					</div>
				</section>
			</div>


			<!-- 館内紹介 -->
			<section class="portforio">
				<div class="container9">
					<div class="introduce-set21 clearfix">

					<h2 class="introduce">♨️館内紹介♨️</h2>
						<h2 class="all">♨️全体像♨️</h2>
							<div class="introduce-image21"></div>
								<p class="introduce-text1">
									全体的に若干小ささはあるものの、お風呂の種類はなかなかあると思いました。<br>
									マッサージはもちろん、ここには理髪店もあるので髪を切りたいと思う方にはいいサービスだと思いました。
								</p>
					</div>

					<div class="introduce-set22 clearfix">

						<h2 class="food-erea2">♨️お食事について♨️</h2>
							<div class="introduce-image22"></div>
								<p class="introduce-text22">
									お食事処『王寿庵』さんをご紹介いたします！<br>
									『季節ごとに趣向を凝らしたメニュー作り、お客様にご満足いただく』というのがコンセプトです。<br>
									また、食事だけでもご利用は可能ですのでお食事だけでも以下かでしょうか？
								</p>
					</div>


					<div class="introduce-set23 clearfix">
						<h2 class="forest-villa23">♨️食事内容♨️</h2>
							<div class="introduce-image23"></div>
								<p class="introduce-text23">
									季節限定のメニューやグランドメニューも豊富でなので悩みますね（笑）<br>
									今回私は『唐揚げ』と『餃子』を頼みましたがとても美味しかったです。
								</p>
					</div>

						<div class="introduce-set24 clearfix">
							<h2 class="onsen-spa2">♨️温泉について♨️</h2>
								<div class="introduce-image24"></div>
									<p class="introduce-text24">
										最後に温泉についてご紹介致します。<br>
										今回は『高濃度炭酸風呂』、『電気風呂』、『ジェットバス』をご紹介致します。
									</p>
						</div>

				<h2 class="onsen-spa2">♨️️温泉の種類♨️</h2>
						<div class="introduce-set8 clearfix">
							<p class="onsen-text">
								今回は写真が撮れなかったのでイメージ図になります。<br>
								ここのお風呂は全体的に『40度』くらいで子供からお年寄りまで安全に入れます。
							</p>
								<div class="introduce-image13"></div>
								<h2 class="introduce-title7">『高濃度炭酸風呂』</h2>
									<p class="introduce-text7">
										こちらにも『高濃度炭酸風呂』があり、驚きました。<br>
										医師がおすすめしている温泉なので、皆様もぜひ体験してください。<br>
									</p>
						</div>


						<div class=" introduce-set25 clearfix">
							<div class="introduce-image25"></div>
								<h2 class="introduce-title25">『アトラクションバス(内湯)』</h2>
								<p class="introduce-text25">
									おそらく一番面積を取っている温泉です。<br>
									入ると、ジャグジーやジェットバスだけでなく電気風呂やシェイプアップ風呂なんかもありとても楽しいお風呂になっています。
								</p>
						</div>


						<div class="introduce-set10 clearfix">
							<div class="introduce-image15"></div>
								<h2 class="introduce-title9">『ジェットバス』</h2>
								<p class="introduce-text9">最後に皆さんもご存知、ジェットバスです！<br>
								もはや『これがないと温泉じゃない！』と言っても過言じゃないくらい有名ですね！<br>
								</p>
							</div>

				</div>
			</section>


			<section class="access">
				<div class="container7">
					<div class="introduce-set11 clearfix">
						<h2 class="access">♨️アクセス・料金一覧♨️</h2>
					</div>
					<div class="introduce-set12 clearfix">
						<h3 class="address">♨️　住所　♨️</h3>
						<p class="address-text">
							住所:神奈川県海老名市柏ヶ谷555-1<br>
							TEL:046（236）0268
						</p>
					</div>

					<div class="introduce-set13 clearfix">
						<h3 class="price">♨️　料金一覧　♨️</h3>
							<div class="row">
								<div class="col-md-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日(会員)</th>
													<th>休日(会員)</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>850円 (750円)</th>
													<th>950円 (850円)</th>
												</tr>
												<tr>
													<th>子供</th>
													<th>300円</th>
													<th>300円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price">
										アメニティ等は別途料金です♪<br>
										タオルとかを持参するといいかもしれないですね！
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set14 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p　class="price-text">
								シャトルバスはありませんが、駅から徒歩4分なので近いです♪

							</p>
					</div>
					<div class="introduce-set26 clearfix">
						<h2 class="map2">♨️　地図　♨️</h2>
						<div class="map-image2"></div>
					</div>
				</div>
			</section>

</body>
