<%= render 'menu' %>

<div class="onsen-visual5 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">OYUGIWA</span>
			<span class="line">海老名&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">OYUGIWA</span>
			<span class="line">海老名&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning5">
		<section id="bv">
			<div class="container5-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜OYUGIWA海老名〜♨️</h2>
							<p class="bv-introduce">
								『OYUGIWA海老名』は神奈川県海老名市にあるスーパー銭湯です。<br>
								駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container5-2">

		<h2 class="introduce5">♨️〜OYUGIWA 海老名の魅力〜♨️</h2>
		<div class="introduce-image5-1"></div>
			<p class="introduce-text5-1">
				<font size="3">『OYUGIWA 海老名』がこだわった5つをご紹介致します!<br>
																		<br>
				1.『海老名市に本格的なスーパー銭湯！』：OYUGIWA 海老名は最近発展が著しい海老名市にできた本格的なスーパー銭湯です！<br>
				2.『くつろぎ処が豊富！』：OYUGIWA 海老名にはテラスでのんびりと過ごせたり、シェルフという秘密基地感覚で過ごせる空間やその他多数豊富な寛げるスペースがたくさんあります！<br>
				3.『Wi-fiやコンセントが充実！』：OYUGIWA 海老名は漫画、雑誌等一万冊以外にもWi-fiやコンセントが充実しています！<br>
				4.『テラスでゆっくりと！』：OYUGIWA 海老名のテラスにはソファーだけでなくハンモックやテラス席があり好きなだけ寛げます！<br>
				5.『女性に嬉しいマッサージが豊富！』：OYUGIWA 海老名にはタイ古式やアカスリ、手もみ等女性に憂いマッサージが豊富です！</font>
			</p>

		<h2 class="onsen-introduce5">♨️〜OYUGIWA　海老名の紹介〜♨️</h2>
			<div class="introduce-image5-2"></div>
				<p class="introduce-text5-2">
					<font size="3">『OYUGIWA 海老名』はお一人様からご家族まで様々なお客様のニーズにお応えしたスーパー銭湯です！<br>
					 おひとりではゆっくりと温泉に浸かった後、テラスでのんびりと雑誌を読み、お食事を楽しむのはいかがでしょう♪<br>
					 ご家族では温泉に浸かった後、テラスで談笑をしお腹を満たすためお食事処でお食事というのもおすすめです♪<br>
					 お友達とならサウナに入り、エステでマッサージの後お食事処でスイーツなんかを楽しむのも良いと思います♪<br>
					 そんな魅力的な『OYUGIWA 海老名』にご来店するのはいかがでしょう？</font>
				</p>

		<div class="oyugiwa_eat">
				<h2 class="eat-introduce5">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image5-3"></div>
						<p class="introduce-text5-3">
						 	 <font size="3">OYUGIWA 海老名のお食事処はOYUGIWAが自らブレンドした十五穀米使用した体に優しいをこだわった料理店です。<br>
						 	 ご飯は先ほど書きました、OYUGIWAが自らブレンドした十五穀米を使用しています。<br>
						 	 十五穀米は白米と比べると食物繊維やビタミン、ミネラルなど豊富な栄養価が多く含まれ、これらの栄養価には糖質を効率よく分解して消化し、代謝させる働きを持っています。よって十五穀米は痩せやすい身体へ導いてくれると言われているのです。<br>
							 他にも麺もの、丼物だけでなくデザートの焼き芋もおすすめです。<br>
							 OYUGIWA 海老名の食事処の営業時間は11:00～23:00までです。ご来店の際は是非ご利用ください♪</font>
						</p>
		</div>

		<div class="oyugiwa_spa">
				<h2 class="spa-introduce5">♨️〜温泉〜♨️</h2>
					<div class="introduce-image5-4"></div>
						<p class="introduce-text5-4">
						 	<font size="3">OYUGIWA 海老名では露天風呂をはじめとした様々な温泉があります。<br>
						 	まず緑に囲まれ空を眺めながらゆっくりと浸かれる『露天岩風呂』が一番おすすめです！<br>
						 	緑に囲まれながらの露天風呂はきっと最高なひと時を過ごせると思います♪<br>
						 	内湯は広々とした空間にじんわり体を温められる『炭酸風呂』が大人気です！<br>
						 	日々に様々なお湯が楽しめる『イベント風呂』も面白くておすすめです♪<br>
						 	フィンランドのサウナストーンを使った本格的なサウナ『ロウリュサウナ』もおすすめです♪<br>
						 	アロマ水の蒸気の香りで心と体もリフレッシュできること間違い無いと思います♪
						</font>
						</p>
		</div>

		<div class="seeing-finish">
			<h2 class="oyugiwa-introduce">♨️〜最後に〜♨️</h2>
			<p class="oyugiwa-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					寛げるスペースを充実させ、温泉や食事を楽しむことができる『OYUGIWA 海老名』是非ご来店してみてください♪
				</font>
			</p>
		</div>

	</div>

			<section class="access5">
				<div class="container5-4">
					<div class="introduce-set5-7 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set5-8 clearfix">
						<h3 class="address5">♨️〜住所〜♨️</h3>
						<p class="address-text5">
							住所:神奈川県海老名市門沢橋2-26-1<br>
							TEL:046-259-7083
						</p>
					</div>

					<div class="introduce-set5-9 clearfix">
						<h3 class="price5">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>800円</th>
													<th>900円(120分)</th>
												</tr>
												<tr>
													<th>子供(3~12歳まで)</th>
													<th>400円</th>
													<th>400円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price5">
										休日はひとっ風呂プランという120分制になります。<br>
										長時間滞在したい場合は『ゆったりプラン』1,100円がありますので是非ご利用ください♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set5-10 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text3">
								OYUGIWA海老名は「門沢橋」より徒歩10分の位置にあります。<br>
								シャトルバスはありませんが、海老名の景色を楽しみながら歩くのも良いですね♪<br>
								お車の場合は、県道22号線「戸沢橋東」交差点北にあり駐車場130台完備してるので安心です。
							</p>

							<div class="kansou5">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set5-11 clearfix">
						<h2 class="map5">♨️〜地図〜♨️</h2>
						<div class="map-image5"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>