


<body>

	<%= render 'menu' %>

		<div class="introduce-visual clearfix">
			<section id="iv">
				<div class="container4">
				</div>
			</section>
		</div>
			<!-- スーパー銭湯の紹介 -->
			<div class="beginning">
				<section id="bv">
					<div class="container5">
								<div class="introduce-set clearfix">
								<h2 class="bv-title">♨️竜泉寺の湯の紹介♨️</h2>
								<p class="bv-introduce">
									『横濱スパヒルズ　竜泉寺の湯』は2019年12月にリニューアルオープンしたばかりのスーパー銭湯です。<br>
									リニューアルオープンしたばかりとあって館内はとても綺麗で清潔感も抜群のスーパー銭湯でした。
								</p>
								<h2 class="bv-manners">♨️利用マナー♨️</h2>
									<p class="bv-manners2">
									<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
									1. 岩盤浴を使用する時は『竜泉寺の湯にある本の持ち込み』『スマホやゲーム』『ペットボトル等のドリンク』の持ち込みは禁止<br>
									2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮して願います。<br>
									<font size="5">3.皆さんごゆるりとお過ごしください♪</font>
								</p>
						</div>
					</div>
				</section>
			</div>


			<!-- 館内紹介 -->
			<section class="portforio">
				<div class="container6">
					<div class="introduce-set1 clearfix">

					<h2 class="introduce">♨️館内紹介♨️</h2>
						<h2 class="forest-villa1">♨️岩盤浴スペース♨️</h2>
							<div class="introduce-image1"></div>
								<p class="introduce-text1">
									『forest villa』という名前の岩盤浴ラウンジがあります。<br>
									ちなみに岩盤浴専用ラウンジは入館料＋岩盤浴料を払うことによって入れるようになります。<br>
									コンセプト通り大人な雰囲気の中、読書を楽しんだり岩盤浴を楽しんだりできます。
								</p>
					</div>

					<div class="introduce-set2 clearfix">

						<h2 class="forest-villa2">♨️『forest-villa』について♨️</h2>
							<div class="introduce-image2"></div>
								<p class="introduce-text2">
									大人な空間の『forest-villa』ですがここには漫画、小説、ライフスタイル本等10000冊以上の本が読み放題です。<br>
									さらには一人用のテレビやまるでカプセルホテルのような一人用の空間を設けており、ゆったりとした時間をお過ごし頂けます。
								</p>
					</div>


					<div class="introduce-set3 clearfix">
						<h2 class="forest-villa3">♨️『forest-villa』の岩盤浴</h2>
							<div class="introduce-image3"></div>
								<p class="introduce-text3">
									『foresut-villa』には女性専用の岩盤浴を含めると全6種類の岩盤浴があります。<br>
									岩盤浴は新陳代謝の活発化による、血行改善、冷え性等の改善が期待できます。
								</p>
					</div>


					<div class="introduce-set4 clearfix">
						<h2 class="forest-villa4">♨️岩盤浴紹介♨️</h2>
							<p class="introduce-text4">
								続いては岩盤浴の種類をご紹介いたします。<br>
								お気に入りの岩盤浴が見つかると嬉しいです。
							</p>
					</div>


					<div class="hotspa-images clearfix">
						<div class="introduce-image4"></div>
						<div class="introduce-image5"></div>
						<div class="introduce-image6"></div>
						<div class="introduce-image7"></div>
						<div class="introduce-image8"></div>
						<div class="introduce-image9"></div>
					</div>


					<div class="introduce-set5 clearfix">
						<h2 class="food-erea">♨️お食事について♨️</h2>
							<div class="introduce-image10"></div>
								<p class="introduce-text5">
									竜泉寺の湯のお食事についてご紹介致します！<br>
									竜泉寺の湯の中にある食事処『湯上りキッチン　一休』<br>
									一休では、日本海の漁場から毎日直送される産直干物をメインに
		100種類以上のお酒や飲み物を用意いているそうです。<br>
									魚以外にもお肉や蕎麦などもたくさんありましたので、楽しくお食事ができると思います♪
								</p>
					</div>


						<div class="introduce-set6 clearfix">
							<h2 class="food-menu">♨️一休の食事♨️</h2>
								<div class="introduce-image11"></div>
									<p class="introduce-text5">
										今回私はお蕎麦とパフェを食べました。<br>
										お蕎麦はコシが強く歯応えがあり蕎麦の風味がよかったです<br>
										めんつゆも出しからしっかり所取っていたため美味しかったです。<br>
										パフェもちょうど良い大きさでした<br>
										チョコアイスの下にはチョコババロアがあり添えつけには、ワッフルとチョコソースがかかっていてチョコ付きの人にはとてもいい品物でした。
									</p>
						</div>


						<div class="introduce-set7 clearfix">
							<h2 class="onsen-spa">♨️温泉について♨️</h2>
								<div class="introduce-image12"></div>
									<p class="introduce-text6">
										最後に温泉についてご紹介致します。<br>
										今回は『高濃度炭酸風呂』、『泡風呂』、『ジェットバス』をご紹介致します。
									</p>
						</div>

				<h2 class="onsen-spa2">♨️️温泉の種類♨️</h2>
						<div class="introduce-set8 clearfix">
							<p class="onsen-text">
								ここの温泉はほぼ全て『40度』くらいなので子供からお年寄りまで安全に入る事ができます。
							</p>
								<div class="introduce-image13"></div>
								<h2 class="introduce-title7">『高濃度炭酸風呂』</h2>
									<p class="introduce-text7">
										『高濃度炭酸風呂』は文字通り高濃度の炭酸が溢れ出ている温泉です。<br>
										この温泉、すごいのが医師がおすすめしている温泉なのです。<br>
										高濃度の炭酸が、身体中の血行をよくしてくれます。
									</p>
						</div>


						<div class=" introduce-set9 clearfix">
							<div class="introduce-image14"></div>
								<h2 class="introduce-title8">『泡風呂』</h2>
								<p class="introduce-text8">
									横浜店新登場の『泡風呂』<br>
									下から泡が出てきて、全身の血行をよくしてくれるお風呂です。
								</p>
						</div>


						<div class="introduce-set10 clearfix">
							<div class="introduce-image15"></div>
								<h2 class="introduce-title9">『ジェットバス』</h2>
								<p class="introduce-text9">最後に皆さんもご存知、ジェットバスです！<br>
								このジェットバス、実は普段は何も出ていないのに人を感知すると泡が出るようになっているのです<br>
								ジェットバスで背中をマッサージはいかがでしょうか
								</p>
							</div>

				</div>
			</section>


			<section class="access">
				<div class="container7">
					<div class="introduce-set11 clearfix">
						<h2 class="access">♨️アクセス・料金一覧♨️</h2>
					</div>
					<div class="introduce-set12 clearfix">
						<h3 class="address">♨️　住所　♨️</h3>
						<p class="address-text">
							住所:神奈川県横浜市旭区白根8-8<br>
							TEL:045-459-5268
						</p>
					</div>

					<div class="introduce-set13 clearfix">
						<h3 class="price">♨️　料金一覧　♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>750円</th>
													<th>850円</th>
												</tr>
												<tr>
													<th>子供</th>
													<th>300円</th>
													<th>300円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price">
										岩盤浴は別途で平日は一律650円、休日は一律750円です♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set14 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p　class="price-text">
								シャトルバスは鶴ヶ峰駅と中山駅にて無料送迎しています！<br>ぜひご利用してください♪

							</p>
					</div>
					<div class="introduce-set15 clearfix">
						<h2 class="map">♨️　地図　♨️</h2>
						<div class="map-image"></div>
					</div>
				</div>
			</section>

			<%= render 'btn' %>

</body>

