<div class="d-flex align-items-center mt-4 mb-4">
	<div class="ml-auto blogs_button">
		<a class="btn btn-outline-info" href="/blogs" role="button">投稿一覧</a>
		<a class="btn btn-outline-info" href="/blogs" role="button">編集</a>
	</div>
</div>

<div class="card">
	<div class="card-header bg-info text-white">
		<h4><%= @blog.title %></h4>
	</div>
	<div class="card-body">
		<p class="card-text"><%= simple_format(@blog.body) %></p>
	</div>
	<div class="card-footer">
		<p class="text-right font-weight-bold mr-10">@blog.name</p>
	</div>
</div>

