


<body>

	<header>

	      <%= image_tag 'img/yunokokoti.png',class:"photo" %>

	</header>

		<div class="introduce-visual clearfix">
			<section id="iv">
					<h2 class="iv-title">横濱スパヒルズ　竜泉寺の湯</h2>
					<p class="iv-text"></p>
			</section>
		</div>
		<section id="beginning">

		</section>
</body>

