<%= render 'menu' %>

<div class="onsen-visual8 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">宮前平源泉</span>
			<span class="line">湯けむりの庄&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">宮前平源泉</span>
			<span class="line">湯けむりの庄&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning8">
		<section id="bv">
			<div class="container8-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜宮前平源泉 湯けむりの庄〜♨️</h2>
							<p class="bv-introduce">
								『宮前平源泉 湯けむりの庄』は神奈川県川崎市にある大人をターゲットした贅沢な高級スーパー銭湯です。<br>
								駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container8-2">

		<h2 class="introduce8">♨️〜湯けむりの庄のこだわり〜♨️</h2>
		<div class="introduce-image8-1"></div>
			<p class="introduce-text8-1">
				<font size="3">『宮前平源泉 湯けむりの庄』がこだわった5つをご紹介致します!<br>
																		<br>
				1.『駅の目の前！』：満天の湯横浜店は相鉄線「上星川駅」の目の前にあります！仕事帰りにふらっと気軽に立ち寄るのも良いですね！<br>
				2.『濡れずに来店！』：お車でご来店した際、駐車場から店内まで隣接しているため、雨に濡れることなくご来店できます！<br>
				3.『バリアフリー設計！』：満天の湯横浜店ではフラットなフロアやスロープなどバリアフリーへの配慮を施しているため、お年寄り等にも優しい設計になっております！<br>
				4.『25時まで営業！』：営業時間は朝6時から、夜は25時までなので、お仕事が遅くなった日やとにかくゆっくりしたい日など時間を気にすることなく寛ぐことができます！<br>
				5.『アメニティの充実！』：浴室にボディソープ・シャンプー・リンスを複数銘柄常設しているのでお気に入りのシャンプーをお使い頂けます！</font>
			</p>

		<h2 class="onsen-introduce8">♨️〜館内紹介〜♨️</h2>
			<div class="introduce-image8-2"></div>
				<p class="introduce-text8-2">
					<font size="3">『満天の湯』はお一人様からご家族まで様々なお客様のニーズにお応えしたスーパー銭湯です！<br>
					 おひとりではまずゆっくりと温泉に浸かり、お食事や一杯楽しむというのかいかがでしょう♪<br>
					 ご家族ならまずエントランスでお土産を見て温泉に入り、お食事処で食事というのも良いですね♪<br>
					 お友達とならサウナに入り、エステでマッサージの後お食事処でスイーツなんかを楽しむのも良いと思います♪<br>
					 そんな魅力的な『満天の湯　横浜店』にご来店するのはいかがでしょう？</font>
				</p>

		<div class="yukemuri_eat">
				<h2 class="eat-introduce8">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image8-3"></div>
						<p class="introduce-text8-3">
						 	 <font size="3">満天の湯のお食事処『山水草木』は旬と鮮度にこだわった本格和食料理店です。<br>
						 	 手軽につまめる一品料理から、本格的な和食、気軽に食べられるラーメン、うどん、そば、スイーツは抹茶パフェ等あります。<br>
						 	 他にも多数メニューがありますので、楽しい食事ができますね♪
							 そんなお食事処『三水草木』の営業時間は平日『10:00〜23:30』、土日祝日は『7:30～23:30(※グランドメニューは10:00より)』になっています。<br>
							 『満天の湯 横浜店』をご利用の際は是非一度立ち寄ってみてはいかがでしょうか♪</font>
						</p>
		</div>

		<div class="yukemuri_spa">
				<h2 class="spa-introduce8">♨️〜温泉〜♨️</h2>
					<div class="introduce-image8-4"></div>
						<p class="introduce-text8-4">
						 	<font size="3"> 満天の湯では天然温泉岩風呂を始め様々な温泉がたくさんあります♪<br>
						 	 優しいミクロの泡と超音波で皮膚の奥まで浸透し血行を促進する『シルクの湯』<br>
						 	 ちょうどいい角度で身体にフィットした天然温泉『天然温泉寝湯』<br>
							 四季折々によって様々な入浴剤を日々替える『日替わり温泉』<br>
							 『エステバス』『ウキウキ風呂』『ドリームバス』『フットパンチ』といった種類豊富なジェットバスがあります。<br>
							　またサウナも充実で、毎時間加湿するオートロウリュにより爽快な発汗と温熱効果がある『タワーサウナ』<br>
							 男性のみの蒸気の充満した50度の熱気浴室なので心肺活動にあまり負担をかけない『スチーム塩サウナ』<br>
							 女性のみの塩の殺菌作用と皮膚塗膜により発汗促進&すべすべ肌にする『塩サウナ』があります。<br>
							 他にも様々な温泉がありますので是非ご来店してみてはいかがでしょうか？
						</font>
						</p>
		</div>

		<div class="try-finish">
			<h2 class="yukemuri-introduce">♨️〜最後に〜♨️</h2>
			<p class="yukemuri-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					種類豊富な温泉に旬と鮮度にこだわった和食料理店だけでなくエステや理髪店もある『満天の湯　横浜店』是非ご来店してみてください♪
				</font>
			</p>
		</div>

	</div>

			<section class="access8">
				<div class="container8-4">
					<div class="introduce-set8-1 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set8-2 clearfix">
						<h3 class="address8">♨️〜住所〜♨️</h3>
						<p class="address-text8">
							住所:216-0006 神奈川県川崎市宮前区宮前平2-13-3<br>
							TEL:044-860-2641
						</p>
					</div>

					<div class="introduce-set8-3 clearfix">
						<h3 class="price8">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>1,320円</th>
													<th>1,540円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>740円</th>
													<th>850円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price3">
										レンタルフェイス、バスタオル、館内着付きです。<br>
										岩盤浴は『大人　820円』になっています♪<br>
										またその他お得なチケットやお得な会員証もあるので是非ご利用してみてはいかがでしょうか♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set8-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text8">
								シャトルバスは東急田園都市線「宮前平」駅より徒歩4分と駅近のためありません♪<br>
								お車でのご来店の際は、東名高速道路「川崎IC」より約3分のいちにあるのですぐにわかると思います♪<br>
								駐車場数150台以上収容可能なので安心ですね♪<br>
								ご入館3時間までは無料で、館内にて3,000円（税込）以上ご利用の方は7時間まで無料です♪<br>
								超過料金『30分毎200円』、『1日最大1,000円』です♪
							</p>

							<div class="kansou8">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set8-5 clearfix">
						<h2 class="map8">♨️〜地図〜♨️</h2>
						<div class="map-image8"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>