<%= render 'menu' %>

<div class="onsen-visual8 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">宮前平源泉</span>
			<span class="line">湯けむりの庄&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">宮前平源泉</span>
			<span class="line">湯けむりの庄&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning8">
		<section id="bv">
			<div class="container8-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜宮前平源泉 湯けむりの庄〜♨️</h2>
							<p class="bv-introduce">
								『宮前平源泉 湯けむりの庄』は神奈川県川崎市にある大人をターゲットした贅沢な高級スーパー銭湯です。<br>
								駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮して願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">申し訳ありませんが、今しばらくお待ちください。</font>
							</p>
					</div>
			</div>
		</section>
	</div>


			<section class="access3">
				<div class="container3-1">
					<div class="introduce-set3-1 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set3-2 clearfix">
						<h3 class="address3">♨️〜住所〜♨️</h3>
						<p class="address-text3">
							住所:216-0006 神奈川県川崎市宮前区宮前平2-13-3<br>
							TEL:044-860-2641
						</p>
					</div>

					<div class="introduce-set3-3 clearfix">
						<h3 class="price3">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>1,320円</th>
													<th>1,540円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>740円</th>
													<th>850円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price3">
										レンタルフェイス、バスタオル、館内着付きです。<br>
										岩盤浴は『大人　820円』になっています♪<br>
										またその他お得なチケットやお得な会員証もあるので是非ご利用してみてはいかがでしょうか♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set3-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text3">
								シャトルバスは東急田園都市線「宮前平」駅より徒歩4分と駅近のためありません♪<br>
								お車でのご来店の際は、東名高速道路「川崎IC」より約3分のいちにあるのですぐにわかると思います♪<br>
								駐車場数150台以上収容可能なので安心ですね♪<br>
								ご入館3時間までは無料で、館内にて3,000円（税込）以上ご利用の方は7時間まで無料です♪<br>
								超過料金『30分毎200円』、『1日最大1,000円』です♪
							</p>

							<div class="kansou3">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set3-5 clearfix">
						<h2 class="map3">♨️〜地図〜♨️</h2>
						<div class="map-image3"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>