<%= render 'menu' %>

<div class="onsen-visual8 clearfix">
	<div class="mask normal">
		<p class="text">
			<span class="line">宮前平&nbsp;源泉</span>
			<span class="line">湯けむりの庄&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
	<div class="mask burn">
		<p class="text">
			<span class="line">宮前平&nbsp;源泉</span>
			<span class="line">湯けむりの庄&nbsp;へ</span>
			<span class="line">ようこそ!♨️</span>
		</p>
	</div>
</div>

	<div class="beginning8">
		<section id="bv">
			<div class="container8-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">♨️〜宮前平 源泉 湯けむりの庄〜♨️</h2>
							<p class="bv-introduce">
								『宮前平源泉 湯けむりの庄』は神奈川県川崎市にある大人をターゲットした贅沢な高級スーパー銭湯です。<br>
								駅から10分と少々遠い位置にありますが、漫画やリラクゼーションも楽しめるスーパー銭湯になっています。
							</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">一部内容の不足、写真がないまたは違う場合がありますが、ご了承下さい。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

	<div class="container8-2">

		<h2 class="introduce8">♨️〜宮前平 源泉 湯けむりの庄の魅力〜♨️</h2>
		<div class="introduce-image8-1"></div>
			<p class="introduce-text8-1">
				<font size="3">『宮前平 源泉 湯けむりの庄』の魅力5つをご紹介致します!<br>
																		<br>
				1.　『駅から徒歩4分！』：湯けむりの庄は東急田園都市線「宮前平」駅より徒歩4分の位置にあります！仕事帰りにふらっと気軽に立ち寄るのも良いですね！<br>
				2.　『大人が楽しむスーパー銭湯！』：湯けむりの庄は大人の贅沢をするを意識にしたスーパ銭湯になっております！<br>
				3.　『選りすぐりの食材を使った和食料理！』：湯けむりの庄では選りすぐりの旬の食材をふんだんに使った和食料理店です！<br>
				4.　『女性に嬉し肌効果の湯！』：湯けむりの庄のpH値と弱アルカリ性と若干ヌルヌルしてることから、美肌効果が期待されています！<br>
				5.　『エステの充実！』：湯けむりの庄では女性に嬉しいエステが豊富にあります！気分によってエステを決めるのも良いですね！</font>
			</p>

		<h2 class="onsen-introduce8">♨️〜宮前平 源泉 湯けむりの庄の紹介〜♨️</h2>
			<div class="introduce-image8-2"></div>
				<p class="introduce-text8-2">
					<font size="3">『湯けむりの庄』は神奈川県川崎市にある日々お疲れの大人に癒しをコンセプトにした高級日帰りスーパー銭湯です！<br>
					 『湯けむりの庄』では前述した通り『日々お疲れの大人に癒し』をコンセプトにしているため、お子様のいる家族層でのご来館はおすすめしません。<br>
					 そのため、『湯けむりの庄』へのご来館はお一人様または大人同士でいくことをおすすめします♪<br>
					 特にお一人でのご来館だと、まるで高級旅館に一人で宿泊しているかのような雰囲気を楽しめるのでおすすめします♪<br>
					 そんな魅力的な『宮前平 源泉 湯けむりの庄』にご来館するのはいかがでしょう？</font>
				</p>

		<div class="yukemuri_eat">
				<h2 class="eat-introduce8">♨️〜お食事処〜♨️</h2>
					<div class="introduce-image8-3"></div>
						<p class="introduce-text8-3">
						 	 <font size="3">湯けむりの庄のお食事処は選りすぐりの食材を使った和食料理店です。<br>
						 	 こちらのお食事処は豆冨料理が特におすすめで、『手前仕込み豆冨』は豆乳・にがりを合わせ、お客様の目の前で仕上げるというこだわりです！<br>
						 	 さらに、イベント/期間限定メニューも春夏秋冬に合わせたお料理も出しているので、年中飽きないように工夫をしています。<br>
							 料理だけでなく、一品ものからお酒も豊富なので日々の疲れをこちらで贅沢に過ごすのも良いですね♪<br>
							 『湯けむりの庄』をご来館の際は是非一度立ち寄ってみてはいかがでしょうか♪</font>
						</p>
		</div>

		<div class="yukemuri_spa">
				<h2 class="spa-introduce8">♨️〜温泉〜♨️</h2>
					<div class="introduce-image8-4"></div>
						<p class="introduce-text8-4">
						 	<font size="3"> 湯けむりの庄では天然温泉を始めとした様々な温泉がたくさんあります♪<br>『炭酸琥珀湯』は天然温泉に、医療分野でも活用されている「中空糸膜」を通して炭酸ガスを溶かしこんだ温泉です。<br>『源泉かけ流し風呂』は美肌の湯として有名なナトリウム炭酸水素塩温泉で、弱アルカリ性で塩分も含まれているためあたたまり効果も期待できます♪<br>
							 　皆様も好きな『ジェットバス』は流により全身のツボが刺激され気分もリフレッシュ♪<br>
							 『エステバス』『ウキウキ風呂』『ドリームバス』『フットパンチ』といった種類豊富なジェットバスがあります。<br>こちらもフィンランド式サウナの『ロウリュ』があり老廃物を汗と一緒に出してくれます♪<br>
							女性限定の『潤い美肌湯』はナノクラを使用したお風呂で、マイクロより圧倒的に細かいナノ粒子が深い角質層へ働きかけてくれます。
							 　他にも様々な温泉がありますので是非ご来館してみてはいかがでしょうか？
						</font>
						</p>
		</div>

		<div class="try-finish">
			<h2 class="yukemuri-introduce">♨️〜最後に〜♨️</h2>
			<p class="yukemuri-text">
				<font size="4">
					いかがでしたでしょうか・・・。<br>
					大人をターゲットにした大人だけの贅沢な時間を過ごせる『宮前平 源泉 湯けむりの庄』是非ご来館してみてください♪
				</font>
			</p>
		</div>

	</div>

			<section class="access8">
				<div class="container8-4">
					<div class="introduce-set8-1 clearfix">
						<h2 class="access3">♨️〜アクセス・料金一覧〜♨️</h2>
					</div>
					<div class="introduce-set8-2 clearfix">
						<h3 class="address8">♨️〜住所〜♨️</h3>
						<p class="address-text8">
							住所:216-0006 神奈川県川崎市宮前区宮前平2-13-3<br>
							TEL:044-860-2641
						</p>
					</div>

					<div class="introduce-set8-3 clearfix">
						<h3 class="price8">♨️〜料金一覧〜♨️</h3>
							<div class="row">
								<div class="col-xs-4" >
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th>平日</th>
													<th>休日</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>大人</th>
													<th>1,320円</th>
													<th>1,540円</th>
												</tr>
												<tr>
													<th>子供(小学生)</th>
													<th>740円</th>
													<th>850円</th>
												</tr>
											</tbody>
										</table>

									<p class="another-price3">
										レンタルフェイス、バスタオル、館内着付きです。<br>
										岩盤浴は『大人　820円』になっています♪<br>
										またその他お得なチケットやお得な会員証もあるので是非ご利用してみてはいかがでしょうか♪
									</p>
								</div>
							</div>
					</div>

					<div class="introduce-set8-4 clearfix">
						<h3 class="bus">♨️　シャトルバスについて　♨️</h3>
							<p class="price-text8">
								シャトルバスは東急田園都市線「宮前平」駅より徒歩4分と駅近のためありません♪<br>
								お車でのご来店の際は、東名高速道路「川崎IC」より約3分のいちにあるのですぐにわかると思います♪<br>
								駐車場数150台以上収容可能なので安心ですね♪<br>
								ご入館3時間までは無料で、館内にて3,000円（税込）以上ご利用の方は7時間まで無料です♪<br>
								超過料金『30分毎200円』、『1日最大1,000円』です♪
							</p>

							<div class="kansou8">
								<div class="col-md-10">
									<%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
								</div>
							</div>
					</div>
					<div class="introduce-set8-5 clearfix">
						<h2 class="map8">♨️〜地図〜♨️</h2>
						<div class="map-image8"></div>
					</div>
				</div>
			</section>

<%= render 'btn' %>