<%= render 'menu' %>

<div class="introduce-visual4 clearfix">
	<section id="iv">
		<div class="container4">
		</div>
	</section>
</div>

	<div class="beginning4">
		<section id="bv">
			<div class="container4-1">
					<div class="introduce-set clearfix">
						<h2 class="bv-title">〜天然温泉　満天の湯〜♨️</h2>
							<p class="bv-introduce">
								『天然温泉　満天の湯』は神奈川県横浜市にあるスーパー銭湯です。<br>

																</p>
						<h2 class="bv-manners">♨️〜利用マナー〜♨️</h2>
							<p class="bv-manners2">
								<font size="5">スーパー銭湯をご利用にあたってのマナーとして</font><br>
								1. 脱衣所のスマホの撮影はは禁止<br>
								2, 脱衣所のロッカーにタオル等をかけて干すのはご遠慮して願います。<br>
								<font size="5">3.皆さんごゆるりとお過ごしください♪</font><br>
								<br>
								<font size="5">※現在、新型コロナウイルスによる自粛する状況のため取材が大変困難な状態です。</font><br>
								<font size="5">申し訳ありませんが、今しばらくお待ちください。</font>
							</p>
					</div>
			</div>
		</section>
	</div>

<%= render 'btn' %>