<div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-show">
    <div class="modal-name">
      <h3>アカウント名: <%= @comment.user.name%> さんに</h3>
    </div>
    <h3>フォローしますか？</h3>
      <div class="follow-button">
        <%= link_to "フォローする", "#", remote: true, class: "btn btn-lg, btn-primary" %>
        <%= link_to "フォロー解除", "#", remote: true, class: "btn btn-lg, btn-danger" %>
    </div>
  </div>
</div>