<%= render 'blogs/menu' %>

<h1>マイページ</h1>

<h3 class = "taitl-info">登録情報　<%= link_to '編集', users_edit_path , class:"btn btn-primary" %></h3>


<div class ="mypage">
<table class="table my_table">
	<tr>
		<th class="">No.</th><th class="my_text"><%= @user.id %></th>
	</tr>
	<tr>
		<th class="panel my_panel">アカウント名</th><th class="my_text"><%= @user.name%></th>
	</tr>
	<tr>
		<th class="panel my_panel">アドレス</th></th>
	</tr>
	<tr>
		<th class="">パスワード</th>
	</tr>
</table>
</div>
