<%= render "blogs/menu" %>

<div class="withdraw-container">
	<div class="withdraw-box">
	    <h2>退会しますか？</h2>
	</div>

	<div class="withdraw-text">
	    <h4>退会した場合、会員登録情報が「全て」削除され<br>
	  	サイトの閲覧ができなくなりますが、よろしいですか？</h4>
	</div>
	<div class="processing-box">
		<div class="col-md-3">
		</div>
				<div class="col-md-2"><%= link_to '戻る',users_show_path,class: "btn btn--cancel btn--border-solid"%></div>
				<div class="col-md-1">
				</div>
				<div class="col-md-2"><%= link_to '退会する',users_path(@user), method: :delete ,class: "btn btn--withdraw btn--border-solid",data: { confirm: '削除しますか？' }%></div>
	</div>
</div>


