<% if user_signed_in? %>
  <%= render 'blogs/menu' %>
<% end %>


<body>
	<li class="">
		<%= link_to "ログイン！", new_user_session_path, class: "anime login" %>

	</li>
	<li class="">
		<%= link_to '新規登録はこちらから♪', new_user_registration_path, class: "anime login" %>
	</li>
</body>