

<body>
	<header>

        <%= image_tag 'img/yunokokoti.png',class:"photo" %>

	</header>

	<li class="">
		<%= link_to new_user_session_path do %>
		<div class="anime login">
		ログイン！
		</div>
		<% end %>

	</li>
	<li class="">
		<%= link_to new_user_registration_path do %>
		<div class="anime login">
		新規登録はこちら♪
		</div>
		<% end %>	</li>
</body>