/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: #000000;
}
a {
 text-decoration: none;
}
.clearfix::after{
 content: "";
 display: block;
 clear: both;
}

header{
 width: 100%;
 height: 70px;
 background-color: #FFDEAD;
}

.container{

 height: 800px;
 margin: 0 auto;
}




.photo{
 width: 180px;
 height: 70px;
 margin: 0 auto;
 padding: 0;
 font-size: 100%;
}

.nav{
float: right;
}
.nav-list{
 float: left;
 width: 130px;
 line-height: 70px;
 color: #000000;
 padding: 0 30px;
 list-style: none;
 font-size: 16px;
 font-family: "Impact", sans-serif;
}
.nav-list a{
 color: #000000;
}
.main-visual{
 width: 100%;
 height: 720px;
 text-align: cover;
 color: #FAFAFA;
 /*background-image: url(img/yunokokoti.jpg);*/
 background-size: cover;
 background-position: center;
}
#container-js {
 width: 100%;
 height: 720px;
}
.image1 {
 background-image: url(img/NGseitensama_TP_V.jpeg);
}
.image2 {
 background-image: url(img/SAYAPAKU4745_TP_V.jpeg);
}
.image3 {
 background-image: url(img/YAMA_DSC1813_TP_V.jpeg);
}
.image4 {
 background-image: url(img/YAMA_DSC0947_TP_V.jpg);
}
.image5 {
 background-image: url(img/YAMA_DSC3126_TP_V.jpg);
}
/*.mv-title{
 padding-top: 200px;
 color: #000000;
 font-family: "Century Gothic",sans-serif;
 font-size: 64px;
}*/
.mv.text{
 padding-top: 10px;
 color: #000000;
 font-size: 20px;
}
p.mv-text{
 color: #000000;
 font-size: 20px;
 padding: 10px 0px 0px;
}

.heading{
 padding-top: 90px;
 text-align: center;
 font-family: "Century Gothic",sans-serif;
 font-size: 32px;
}
#portfolio{
 background-color: #F0FFF0;
}

main {
 height: 1000px;

}
h2.heading{
 font-size: 32px;
 padding: 60px 0 0;
 padding-bottom: 10px;
 color: #000000;
}
h2.heading::after{
 background-color: #FFC0CB;
 margin: 8px auto 0 auto;
 content: "";
 display: block;
 width: 150px;
 height: 3px;
}
p.heading-text{
 padding-top: 30px;
 padding-bottom: 40px;
 text-align: center;
 font-size: 16px;
 color: #000000;
}
.container1{
 width: 100%;
 height: 1200px;
 margin: 0 auto;
}

.portfolio-images{
 width: 100%;
 height: 800px;
 padding: 30px 0 90px 0;
 margin: 0 auto;
}

.portfolio-text {

}
.portfolio-title {
}





#profile{
 background-color: #FFF8DC;
}
.container2{
 width: 1024px;
 height: 800px;
 margin: 0 auto;
}

.profile-group{
 padding: 30px 0 90px 0;
 font-size: 16px;
}
.left-content{
 width: 50%;
 float: left;
}
.right-content{
 width: 50%;
 float: right;
}
.my-face{
 width: 250px;
 height: 250px;
 margin: 0 auto;
 border-radius: 50%;
 background-image: url(img/);
}
.discription-title{
 margin: 20px 0 5px 0;
 font-size: 20px;
 color: #000000;
}
.discription-title:first-child{
 margin-top: 0;
}
.discription-text{
 color: #000000;
}

#sns {
 background-color: #FFE4E1;
}
.container3{
 width: 1024px;
 height: 500px;
 margin: 0 auto;
}

.sns-group{
 width: 800px;
 padding: 30px 0 90px;
 margin: 0 auto;
}
.right-content{
 width: 50%;
 float: right;
}
.right-contact{
 margin: 0 auto;
 width: 200px;
}
.right-contact .fa {
 margin:0 auto;
 font-size: 50px;
}

.copyright{
 font-size: 16px;
 color: #000000;
 text-align: center;
}

footer{
 width: 100%;
 height: 60px;
 background-color: #FFDEAD;
 line-height: 60px;
}
