.b-comment__formBox {
  width: 800px;
  margin: 30px auto;
  padding: 25px;
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

.b-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.b-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.b-comment__list {
  margin: 38px 0;
  padding: 20px;
}

.b-comment_Box {
  padding: 20px 26px;
}

.b-send_box {
  margin: 20px 0;
  margin-right: 140px;
}
.decorated-btn {
  width: 300px;
  margin-left: 220px;
  background-color: #FFD700;
  font-size: 12px;
  border-radius: 5px;
  border-bottom: solid 3px #DAA520;
  box-shadow: 3px 3px 3px #808080;
  transition: 0.3s;
}

.click-down:active {
  transform: translateY(2px);
  border-bottom: none;
}

.decorated-btn:hover {
  background-color: #FFA500;
}


.b-comment__item {
  width: 800px;
  margin: 0 auto;
  padding: 18px;
  border-bottom: 2px dotted #dfdfdf;
}

.b-comment__bottomLine {
  font-size: 15px;
  text-align: right;

  > span {
    font-size: 14px;
    margin: 0 12px;
  }
}
.btn--red,
a.btn--red {
  color: #fff;
  background-color: #c9171e;
}
.btn--red:hover,
a.btn--red:hover {
  color: #fff;
  background: #c9171e;
}

a.btn--radius {
   border-radius: 100vh;
}

