.b-comment__formBox {
  width: 750px;
  margin: 30px auto;
  padding: 25px;
  font-family:'HiraMinProN-W3', 'serif';
}

.b-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.b-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.b-comment__list {
  margin: 38px 0;
  padding: 20px;
}

.b-comment_box {
  padding-top: 20px;
}

.b-send_box {
  margin: 20px 100px 20px 0;
}
.decorated-btn {
  width: 300px;

  margin: 10px 0 0 190px;
  background-color: #FFD700;
  font-size: 12px;
  border-radius: 5px;
  border-bottom: solid 3px #DAA520;
  box-shadow: 3px 3px 3px #808080;
  transition: 0.3s;
}

.click-down:active {
  transform: translateY(2px);
  border-bottom: none;
}

.decorated-btn:hover {
  background-color: #FFA500;
}


.b-comment__item {
  width: 700px;
  height: 120px;
  margin: 0 auto;
  padding-top: 40px;
  border-bottom: 2px dotted #dfdfdf;
}

.b-comment__item p {
  float: left;
  padding-right: 20px;

}

.b-comment__bottomLine {
  font-size: 15px;
  float: right;

  > span {
    font-size: 14px;
    margin: 0 12px;
  }
}


.btn--red,
a.btn--red {
  color: #fff;
  background-color: #c9171e;
}
.btn--red:hover,
a.btn--red:hover {
  color: #fff;
  background: #c9171e;
}

a.btn--radius {
   border-radius: 100vh;
}

