* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/* sessions.html.erb */

.auth-box {
  width: 400px;
  height: 550px auto 0;
  margin: 50px auto 0;
  margin-bottom: 40px;
  border-radius: 4px;
  border: 1px #ddd solid;
  font-family: 'Shippori Mincho', 'HiraMinProN-W3', serif;
}

.auth-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
  margin-top: 30px;
}

.auth-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.auth-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.auth-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.auth-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.auth-newusr a:hover {
  background: #e7e9ec;
}

/* registrations.html.erb */

.auth-box2 {
  width: 450px;
  height: 500px auto 0;
  margin: 50px auto 0;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-radius: 4px;
  border: 1px #ddd solid;
  font-family: 'Shippori Mincho', 'HiraMinProN-W3', serif;
}

.auth-repassword {
  margin-bottom: 52px;
}

.auth-signup input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
  margin-top: 40px;
}

.auth-signup input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

/* 共通 */

.authentication {
  text-align: center;
}

.auth-inner {
  padding: 20px 26px;
}

.auth-name, .auth-email {
  margin-bottom: 13px;
}

.auth-password {
  margin-bottom: 22px;
}

.auth-email label, .auth-password label,
.auth-name label, .auth-repassword label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.auth-email label, .auth-password label, .auth-repassword label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.auth-email input[type="email"], .auth-password input[type="password"],
.auth-name input[type="name"], .auth-repassword input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
 
/* レスポンシブ */
@media screen and (max-width: 768px) {

  .auth-box, .auth-box2 {
    width: 90% !important;
    height: auto !important;
    margin: 40px auto !important;
    padding: 10px 0 30px 0;
  }

  .auth-inner {
    padding: 15px !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="name"] {
    height: 40px !important;
    font-size: 16px !important;
  }

  .auth-login input[type="submit"],
  .auth-signup input[type="submit"] {
    height: 44px !important;
    font-size: 16px !important;
    margin-top: 20px !important;
  }

  .auth_newusr a {
    height: 44px !important;
    line-height: 44px !important;
    font-size: 14px !important;
  }

  .column-right {
    float: none !important;
    display: block;
    margin-top: 5px;
    text-align: right;
  }
  
  .column-left {
    float: none !important;
  }
}