// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-button {
 padding: 10px 0 20px 50px;
 margin-right: 10px;
 float: left;
}

.mypage {
 text-align: center;
font-family: 'Cherry Swash', cursive;
border: 5px solid #87CEFA;
border-style: inset;
width: 250px;
background: linear-gradient(to right, #FFC0CB, #FFFAFA);
}

.user_formbox {
  width: 800px;
  margin: 15px auto;
  border: 10px solid #87CEFA;
  border-style: ridge;
  padding: 25px;
  background: linear-gradient(to right, #FFC0CB, #FFFAFA);
}



.left_profile {
 background-position: left;
}

.right_profile {

}

.profile_group {
text-align: right;
}

.profile_group{
  position: relative;
  padding: 0.3em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.profile_group:after {
  content: '';
  position: absolute;
  left: 505px;
  bottom: 0;
  width: 250px;
  height: 7px;
  background: repeating-linear-gradient(-45deg, orange, orange 2px, white 2px, white 4px);
}

.profile_name {
 display: inline;
 color: white;
 background-color: #F08080;
 border-radius: 14px;
 margin-right: 50px;
}
.user_name {
 display: inline;
 color: #8B4513;
}

.profile_email {
 display: inline;
 color: white;
 background-color: #F08080;
 border-radius: 14px;
 margin-right: 50px;
}
.user_email {
 display: inline;
 color: #8B4513;
}

.profile_password {
 display: inline;
 color: white;
 background-color: #F08080;
 border-radius: 14px;
 margin-right: 50px;
}
.user_password {
 display: inline;
 color: #8B4513;
}