// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sakura_container {
  position: relative;
  height: 580px;
  width: 100%;
  overflow: hidden;
  background-image: image-url('img/sakura11.jpg');
  background-size: cover;
  background-size: 100% 600px;
}

.title-name {
 font-family:'メイリオ', 'Meiryo', sans-serif;
}

.form-button {
 padding: 10px 0 20px 50px;
 margin-right: 10px;
 float: left;
}

.row-box {
 width: 100%;
 height: 50px;
 padding-left: 250px;
 padding-top: 20px;
}

.mypage {
 text-align: center;
 font-family:'メイリオ', 'Meiryo', sans-serif;
 width: 300px;
 margin-top: 5px;
 margin-left: 270px;
 background:
 linear-gradient(90deg, #999 3px, #fff 3px, #fff calc(100% - 3px), #999 calc(100% - 3px)),
 linear-gradient(180deg, #999 3px, #fff 3px, #fff calc(100% - 3px), #999 calc(100% - 3px)),
 linear-gradient(45deg,  transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(135deg, transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(225deg, transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(315deg, transparent 10px, #999 11px, #999 12px, #fff 14px);
 background-position: left 15px, 15px top, bottom left, top left, top right, bottom right;
 background-size: 100% calc(100% - 30px), calc(100% - 30px) 100%, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
 background-repeat: no-repeat;
 position: relative;
 padding: 10px 10px;
 font-weight: bold;
 animation: zoomIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
@keyframes zoomIn {
 0% {
  transform: scale(0.8);
  opacity: 0;
 }
 100% {
  opacity: 1;
  transform: scale(1);
 }
}
a.btn--edit {
  width: 200px;
  margin-right: 10px;
  color: #fff;
  background-color: #f0908d;
  border-bottom: 5px solid #c97586;
}
a.btn--edit:hover {
  margin-top: 3px;
  color: #fff;
  background: #ee827c;
  border-bottom: 2px solid #c97586;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--withdrow {
  width: 200px;
  margin-right: 10px;
  color: #fff;
  background-color: #e2041b;
  border-bottom: 5px solid #b7282e;
}
a.btn--withdrow:hover {
  margin-top: 3px;
  color: #fff;
  background: #c9171e;
  border-bottom: 2px solid #b7282e;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.user_formbox {
  font-family:'メイリオ', 'Meiryo', sans-serif;
  width: 900px;
  height: 400px;
  margin: 25px auto;
  border: 5px inset #FFC0CB;
  border-radius: 10px;
  padding: 30px;
  background: linear-gradient(to right, #f6bfbc, #fef4f4);
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.left_profile {
 background-position: left;
}
.user-face {
 margin-top: 20px;
 margin-left: 30px;
}

.right_profile {
  margin-top: -300px;
}

.profile_group1 {
 text-align: right;
 position: relative;
 padding: 0.3em;
 padding-top: 20px;
 padding-bottom: 10px;
}
.profile_group1:after {
  content: '';
  position: absolute;
  left: 460px;
  bottom: 0;
  width: 400px;
  height: 7px;
  border-radius: 2px;
  background: repeating-linear-gradient(-45deg, orange, orange 2px, white 2px, white 4px);
}
.profile_group2 {
 text-align: right;
 position: relative;
 padding: 0.3em;
 padding-top: 40px;
 padding-bottom: 10px;
}
.profile_group2:after {
  position: fixed;
  content: '';
  position: absolute;
  left: 460px;
  bottom: 0;
  width: 400px;
  height: 7px;
  border-radius: 2px;
  background: repeating-linear-gradient(-45deg, orange, orange 2px, white 2px, white 4px);
}
.profile_group3 {
 text-align: right;
 position: relative;
 padding: 0.3em;
 padding-top: 40px;
 padding-bottom: 10px;
}
.profile_group3:after {
  content: '';
  position: absolute;
  left: 460px;
  bottom: 0;
  width: 400px;
  height: 7px;
  background: repeating-linear-gradient(-45deg, orange, orange 2px, white 2px, white 4px);
}

.profile_name {
　position: fixed;
 display: inline;
 color: #fff;
 background-color: #F08080;
 border-radius: 10px;
 margin-right: 150px;
}
.user_name {
 display: inline;
 color: #8B4513;
 margin-right: 30px;
}

.profile_email {
 display: inline;
 color: white;
 background-color: #F08080;
 border-radius: 14px;
 margin-right: 50px;
}
.user_email {
 display: inline;
 color: #8B4513;
}


.row {
 font-family:'メイリオ', 'Meiryo', sans-serif;
}

.withdraw-container {
 width: 100%;
 height: 580px;
 background: linear-gradient(to right, #f2f2b0, #f8f4e6);
}
.withdraw-box {
 text-align: center;
 padding-top: 110px;
 padding-bottom: 20px;
}
.withdraw-text {
 text-align: center;
 padding-bottom: 20px;
}

.change-button {
 width: 50%;
 float: left;
}
.btn-border {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
.back-button {
 width: 50%;
 float: right;
}
.btn-border2 {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #e2041b;
  font-size: 16px;
  color: #e2041b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border2:hover {
  background-color: #e2041b;
  border-color: #e2041b;
  color: #FFF;
}

.processing-box {

}
a.btn--cancel.btn--border-solid {
  width: 300px;
  border: 2px solid #839b5c;
  color: #fff;
  background-color: #aacf53;
}
a.btn--withdraw.btn--border-solid {
  width: 300px;
  border: 2px solid #c9171e;
  color: #fff;
  background-color: #e2041b;

}


.user_settings {
  font-family:'メイリオ', 'Meiryo', sans-serif;
  text-align: center;
  width: 800px;
  height: 400px;
  margin-top: 50px;
  margin-left: 320px;
  border: 3px inset #FFC0CB;
  border-radius: 10px;
  padding: 30px;
  background: linear-gradient(to right, #f6bfbc, #fef4f4);
  animation: fadeup 1s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeup {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-border-edit {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #e5abbe;
  font-size: 16px;
  color: #e5abbe;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border-edit:hover {
  background-color: #e198b4;
  border-color: #e198b4;
  color: #FFF;
}

.btn-border-withdraw {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #e2041b;
  font-size: 16px;
  color: #e2041b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border-withdraw:hover {
  background-color: #e2041b;
  border-color: #e2041b;
  color: #FFF;
}
.edit-container {
  height: 600px;
  background-image: image-url('img/sakura10.jpg');
}

.user_edit {
 text-align: center;
 font-family:'メイリオ', 'Meiryo', sans-serif;
 width: 360px;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 320px;
 background:
 linear-gradient(90deg, #999 3px, #fff 3px, #fff calc(100% - 3px), #999 calc(100% - 3px)),
 linear-gradient(180deg, #999 3px, #fff 3px, #fff calc(100% - 3px), #999 calc(100% - 3px)),
 linear-gradient(45deg,  transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(135deg, transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(225deg, transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(315deg, transparent 10px, #999 11px, #999 12px, #fff 14px);
 background-position: left 15px, 15px top, bottom left, top left, top right, bottom right;
 background-size: 100% calc(100% - 30px), calc(100% - 30px) 100%, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
 background-repeat: no-repeat;
 position: relative;
 padding: 10px 10px;
 font-weight: bold;
 animation: zoomIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
@keyframes zoomIn {
 0% {
  transform: scale(0.8);
  opacity: 0;
 }
 100% {
  opacity: 1;
  transform: scale(1);
 }
}


/*モーダル*/
.modal-show {
 width: 400px;
 height: 250px;
 text-align: center;
 margin-left: 100px;
 padding-bottom: 10px;
 padding: 20px;
}
.follow-button {
 padding-top: 40px;
}


/*フォロー機能*/
.follows {
 text-align: center;
 font-family:'メイリオ', 'Meiryo', sans-serif;
 width: 300px;
 margin-top: 15px;
 margin-left: 5px;
 margin-bottom: 20px;
 background:
 linear-gradient(90deg, #999 3px, #fff 3px, #fff calc(100% - 3px), #999 calc(100% - 3px)),
 linear-gradient(180deg, #999 3px, #fff 3px, #fff calc(100% - 3px), #999 calc(100% - 3px)),
 linear-gradient(45deg,  transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(135deg, transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(225deg, transparent 10px, #999 11px, #999 12px, #fff 14px),
 linear-gradient(315deg, transparent 10px, #999 11px, #999 12px, #fff 14px);
 background-position: left 15px, 15px top, bottom left, top left, top right, bottom right;
 background-size: 100% calc(100% - 30px), calc(100% - 30px) 100%, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
 background-repeat: no-repeat;
 position: relative;
 padding: 10px 10px;
 font-weight: bold;
 animation: zoomIn 1s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
}
@keyframes zoomIn {
 0% {
  transform: scale(0.8);
  opacity: 0;
 }
 100% {
  opacity: 1;
  transform: scale(1);
 }
}
a.btn--edit {
  width: 200px;
  margin-right: 10px;
  color: #fff;
  background-color: #f0908d;
  border-bottom: 5px solid #c97586;
}
a.btn--edit:hover {
  margin-top: 3px;
  color: #fff;
  background: #ee827c;
  border-bottom: 2px solid #c97586;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--withdrow {
  width: 200px;
  margin-right: 10px;
  color: #fff;
  background-color: #e2041b;
  border-bottom: 5px solid #b7282e;
}
a.btn--withdrow:hover {
  margin-top: 3px;
  color: #fff;
  background: #c9171e;
  border-bottom: 2px solid #b7282e;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.follows-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.follows-box > div{
 width: 220px;
 height: 320px;
　font-size: 64px;
　text-align: center;
}


.follow-box {
 width: 220px;
 height: 320px;
 margin-left: 20px;
 margin-bottom: 30px;
 border: 1px solid #DCDCDC;
 border-radius: 5px;
}

.follow-image {
 padding-top: 5px;
 padding-left: 9px;
}
.follow-name {
 text-align: center;
}
.follow-reset {
 padding-left: 40px;
}
.btn-border-follow {
  display: inline-block;
  margin-left: 15px;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border-follow:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
.reset-button {
 margin: 20px 0 5px 300px;
 padding-left: 50px;
 overflow: hidden;
 position: relative;
 cursor: pointer;

}
.btn-border-reset {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #e2041b;
  font-size: 16px;
  color: #e2041b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.btn-border-reset:hover {
  background-color: #e2041b;
  border-color: #e2041b;
  color: #FFF;
}
